nav.navigation_bar
	.container.navigation_bar__toggler_box
		button.header__burger_button.js-open-navigation-links(type="button")
	.container.navigation_bar__links_box.js-navigation-links
		.row
			.col-xs-12
				ul.navigation_bar__items_list
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="cover--01")
							| cover 01
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="cover--02")
							| cover 02
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="cover--03")
							| cover 03
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="cover--04")
							| cover 04
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="cover--05")
							| cover 05
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="cover--06")
							| cover 06
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="cover--07")
							| cover 07
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="cover--08")
							| cover 08
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="cover--09")
							| cover 09
					li.navigation_bar__item.navigation_bar__item--last
						a.navigation_bar__link.js-navigation-link(href="cover--10")
							| cover 10
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="partners--01")
							| partners 01
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="partners--02")
							| partners 02
					li.navigation_bar__item.navigation_bar__item--last
						a.navigation_bar__link.js-navigation-link(href="partners--03")
							| partners 03
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="counter--01")
							| counter 01
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="counter--02")
							| counter 02
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="counter--03")
							| counter 03
				ul.navigation_bar__items_list
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="cover--11")
							| cover 11
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="cover--12")
							| cover 12
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="cover--13")
							| cover 13
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="cover--14")
							| cover 14
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="cover--15")
							| cover 15
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="cover--16")
							| cover 16
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="cover--17")
							| cover 17
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="cover--18")
							| cover 18
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="cover--19")
							| cover 19
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="cover--20")
							| cover 20
					li.navigation_bar__item.navigation_bar__item--last
						a.navigation_bar__link.js-navigation-link(href="cover--21")
							| cover 21
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="contents--01")
							| contents 01
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="contents--02")
							| contents 02
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="contents--03")
							| contents 03
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="contents--04")
							| contents 04
					li.navigation_bar__item.navigation_bar__item--last
						a.navigation_bar__link.js-navigation-link(href="contents--05")
							| contents 05
				ul.navigation_bar__items_list
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="call_to_action--01")
							| call_to_action 01
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="call_to_action--02")
							| call_to_action 02
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="call_to_action--03")
							| call_to_action 03
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="call_to_action--04")
							| call_to_action 04
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="call_to_action--05")
							| call_to_action 05
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="call_to_action--06")
							| call_to_action 06
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="call_to_action--07")
							| call_to_action 07
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="call_to_action--08")
							| call_to_action 08
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="call_to_action--09")
							| call_to_action 09
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="call_to_action--10")
							| call_to_action 10
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="call_to_action--11")
							| call_to_action 11
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="call_to_action--12")
							| call_to_action 12
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="call_to_action--13")
							| call_to_action 13
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="call_to_action--14")
							| call_to_action 14
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="call_to_action--15")
							| call_to_action 15
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="call_to_action--16")
							| call_to_action 16
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="call_to_action--17")
							| call_to_action 17
					li.navigation_bar__item.navigation_bar__item--last
						a.navigation_bar__link.js-navigation-link(href="call_to_action--18")
							| call_to_action 18
				ul.navigation_bar__items_list
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="features--01")
							| features 01
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="features--02")
							| features 02
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="features--03")
							| features 03
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="features--04")
							| features 04
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="features--05")
							| features 05
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="features--06")
							| features 06
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="features--07")
							| features 07
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="features--08")
							| features 08
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="features--09")
							| features 09
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="features--10")
							| features 10
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="features--11")
							| features 11
					li.navigation_bar__item.navigation_bar__item--last
						a.navigation_bar__link.js-navigation-link(href="features--12")
							| features 12
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="team--01")
							| team 01
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="team--02")
							| team 02
					li.navigation_bar__item.navigation_bar__item--last
						a.navigation_bar__link.js-navigation-link(href="team--03")
							| team 03
				ul.navigation_bar__items_list
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="testimonials--01")
							| testimonials 01
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="testimonials--02")
							| testimonials 02
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="testimonials--03")
							| testimonials 03
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="testimonials--04")
							| testimonials 04
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="testimonials--05")
							| testimonials 05
					li.navigation_bar__item.navigation_bar__item--last
						a.navigation_bar__link.js-navigation-link(href="testimonials--06")
							| testimonials 06
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="works--01")
							| works 01
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="works--02")
							| works 02
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="works--03")
							| works 03
					li.navigation_bar__item.navigation_bar__item--last
						a.navigation_bar__link.js-navigation-link(href="works--04")
							| works 04
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="prices--01")
							| prices 01
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="prices--02")
							| prices 02
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="prices--03")
							| prices 03
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="prices--04")
							| prices 04
				ul.navigation_bar__items_list
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="about--01")
							| about 01
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="about--02")
							| about 02
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="about--03")
							| about 03
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="about--04")
							| about 04
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="about--05")
							| about 05
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="about--06")
							| about 06
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="about--07")
							| about 07
					li.navigation_bar__item.navigation_bar__item--last
						a.navigation_bar__link.js-navigation-link(href="about--08")
							| about 08
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="footer--01")
							| footer 01
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="footer--02")
							| footer 02
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="footer--03")
							| footer 03
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="footer--04")
							| footer 04
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="footer--05")
							| footer 05
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="footer--06")
							| footer 06
					li.navigation_bar__item.navigation_bar__item--last
						a.navigation_bar__link.js-navigation-link(href="footer--07")
							| footer 07
				ul.navigation_bar__items_list
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="contacts--01")
							| contacts 01
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="contacts--02")
							| contacts 02
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="contacts--03")
							| contacts 03
					li.navigation_bar__item
						a.navigation_bar__link.js-navigation-link(href="contacts--04")
							| contacts 04