// == START OF PARTNERS 01 ==
.partners.partners--01
	.container
		h2.partners__title.partners__title--smaller-margin
			| Our happy clients
		span.partners__description
			| Motivating others leads to success whereas inspiring others leads to the most grand greatness.
		.row.js-slider(data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "arrows": false, "cssEase": "ease", "dots": true, "speed": 400, "autoplay": true, "responsive": [{"breakpoint": 900, "settings": {"slidesToShow": 2}}]}')
			.col-xs-6.col-lg-3
				.partners__item
					img.partners__img(src="img/pictures/pic--wired-logo.png")
			.col-xs-6.col-lg-3
				.partners__item
					img.partners__img(src="img/pictures/pic--intel-logo.png")
			.col-xs-6.col-lg-3
				.partners__item
					img.partners__img(src="img/pictures/pic--dropbox-logo.png")
			.col-xs-6.col-lg-3
				.partners__item
					img.partners__img(src="img/pictures/pic--amd-logo.png")
			.col-xs-6.col-lg-3
				.partners__item
					img.partners__img(src="img/pictures/pic--nike-logo.png")
			.col-xs-6.col-lg-3
				.partners__item
					img.partners__img(src="img/pictures/pic--fast-company-logo.png")
			.col-xs-6.col-lg-3
				.partners__item
					img.partners__img(src="img/pictures/pic--casio-logo.png")
			.col-xs-6.col-lg-3
				.partners__item
					img.partners__img(src="img/pictures/pic--airbnb-logo.png")
// == END OF PARTNERS 01 ==