// == START OF PARTNERS 02 ==
.partners.partners--02
	.container
		h2.partners__title
			| Partners
		.row.partners__row
			.col-xs-6.col-lg-3
				.partners__item
					img.partners__img(src="img/pictures/pic--wired-logo.png")
			.col-xs-6.col-lg-3
				.partners__item
					img.partners__img(src="img/pictures/pic--intel-logo.png")
			.col-xs-6.col-lg-3
				.partners__item
					img.partners__img(src="img/pictures/pic--dropbox-logo.png")
			.col-xs-6.col-lg-3
				.partners__item
					img.partners__img(src="img/pictures/pic--amd-logo.png")
		.row.partners__row
			.col-xs-6.col-lg-3
				.partners__item
					img.partners__img(src="img/pictures/pic--nike-logo.png")
			.col-xs-6.col-lg-3
				.partners__item
					img.partners__img(src="img/pictures/pic--fast-company-logo.png")
			.col-xs-6.col-lg-3
				.partners__item
					img.partners__img(src="img/pictures/pic--casio-logo.png")
			.col-xs-6.col-lg-3
				.partners__item
					img.partners__img(src="img/pictures/pic--airbnb-logo.png")
// == END OF PARTNERS 02 ==