// == START OF PARTNERS 03 ==
.partners.partners--03.partners--black
	.container
		h2.partners__title.partners__title--white.partners__title--smaller-margin
			| Our happy clients
		span.partners__description
			| Motivating others leads to success whereas inspiring others leads to the most grand greatness.
		.row.js-slider(data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "arrows": false, "cssEase": "ease", "dots": true, "speed": 400, "autoplay": true, "responsive": [{"breakpoint": 900, "settings": {"slidesToShow": 2}}]}')
			.col-xs-6.col-lg-3
				.partners__item
					img.partners__img(src="img/pictures/pic--behance.svg")
			.col-xs-6.col-lg-3
				.partners__item
					img.partners__img(src="img/pictures/pic--AMD.svg")
			.col-xs-6.col-lg-3
				.partners__item
					img.partners__img(src="img/pictures/pic--intel.svg")
			.col-xs-6.col-lg-3
				.partners__item
					img.partners__img(src="img/pictures/pic--airbnb.svg")
			.col-xs-6.col-lg-3
				.partners__item
					img.partners__img(src="img/pictures/pic--dropbox.svg")
// == END OF PARTNERS 03 ==