// == START OF FOOTER 01 ==
footer.footer.footer--01
	.container.footer__container
		a.footer__logo_box.footer__logo_box--01(href="#")
			img.footer__logo(src="img/etc/logo--circle--black.svg")
		ul.footer__nav.footer__nav--01
			li.footer__nav__item.footer__nav__item--01
				a.footer__nav__link.footer__nav__link--01(href="#")
					| about
			li.footer__nav__item.footer__nav__item--01
				a.footer__nav__link.footer__nav__link--01(href="#")
					| tour
			li.footer__nav__item.footer__nav__item--01
				a.footer__nav__link.footer__nav__link--01(href="#")
					| pricing
			li.footer__nav__item.footer__nav__item--01
				a.footer__nav__link.footer__nav__link--01(href="#")
					| blog
			li.footer__nav__item.footer__nav__item--01
				a.footer__nav__link.footer__nav__link--01(href="#")
					| contact
		ul.social.footer__social--01.footer__social_box
			li.social__item.social__item--left_margin
				a.social__link.social__link--twitter--black(href="#", title="Say hello in Twitter!")
			li.social__item.social__item--left_margin
				a.social__link.social__link--facebook--black(href="#", title="Say hello in Facebook!")
			li.social__item.social__item--left_margin
				a.social__link.social__link--g_plus--black(href="#", title="Say hello in G+!")
// == END OF FOOTER 01 ==