// == START OF FOOTER 02 ==
footer.footer.footer--02
	.footer__main_box--02
		.container.footer__container
			a.footer__logo_box.footer__logo_box--02(href="#")
				img.footer__logo(src="img/etc/logo--circle--black.svg")
			ul.footer__nav.footer__nav--02
				li.footer__nav__item.footer__nav__item--02
					a.footer__nav__link.footer__nav__link--02(href="#")
						| about
				li.footer__nav__item.footer__nav__item--02
					a.footer__nav__link.footer__nav__link--02(href="#")
						| tour
				li.footer__nav__item.footer__nav__item--02
					a.footer__nav__link.footer__nav__link--02(href="#")
						| pricing
				li.footer__nav__item.footer__nav__item--02
					a.footer__nav__link.footer__nav__link--02(href="#")
						| blog
				li.footer__nav__item.footer__nav__item--02
					a.footer__nav__link.footer__nav__link--02(href="#")
						| contact
			ul.social.footer__social--02.footer__social_box
				li.social__item.social__item--left_margin
					a.social__link.social__link--twitter--black(href="#", title="Say hello in Twitter!")
				li.social__item.social__item--left_margin
					a.social__link.social__link--facebook--black(href="#", title="Say hello in Facebook!")
				li.social__item.social__item--left_margin
					a.social__link.social__link--g_plus--black(href="#", title="Say hello in G+!")
	.footer__description_box--02
		.container.footer__container
			span.footer__description.footer__description--02
				| We are an innovative web design and marketing company that specializes in web development, software development and digital marketing.
			span.footer__copyright.footer__copyright--02
				| &copy; UI-market.com, 2016
// == END OF FOOTER 02 ==