// == START OF FOOTER 03 ==
footer.footer.footer--03
	.container.footer__container
		a.footer__logo_box.footer__logo_box--03(href="#")
			img.footer__logo(src="img/etc/logo--circle--black.svg")
		ul.social.footer__social--03.footer__social_box
			li.social__item.social__item--left_margin
				a.social__link.social__link--twitter--black(href="#", title="Say hello in Twitter!")
			li.social__item.social__item--left_margin
				a.social__link.social__link--facebook--black(href="#", title="Say hello in Facebook!")
			li.social__item.social__item--left_margin
				a.social__link.social__link--g_plus--black(href="#", title="Say hello in G+!")
// == END OF FOOTER 03 ==