// == START OF FOOTER 04 ==
footer.footer.footer--04
	.footer__main_box--04
		.container.footer__container
			a.footer__logo_box.footer__logo_box--04(href="#")
				img.footer__logo(src="img/etc/logo--circle--white.svg")
			ul.footer__nav.footer__nav--04
				li.footer__nav__item.footer__nav__item--04
					a.footer__nav__link.footer__nav__link--04(href="#")
						| about
				li.footer__nav__item.footer__nav__item--04
					a.footer__nav__link.footer__nav__link--04(href="#")
						| tour
				li.footer__nav__item.footer__nav__item--04
					a.footer__nav__link.footer__nav__link--04(href="#")
						| pricing
				li.footer__nav__item.footer__nav__item--04
					a.footer__nav__link.footer__nav__link--04(href="#")
						| blog
				li.footer__nav__item.footer__nav__item--04
					a.footer__nav__link.footer__nav__link--04(href="#")
						| contact
			ul.social.footer__social--04.footer__social_box
				li.social__item.social__item--left_margin
					a.social__link.social__link--twitter(href="#", title="Say hello in Twitter!")
				li.social__item.social__item--left_margin
					a.social__link.social__link--facebook(href="#", title="Say hello in Facebook!")
				li.social__item.social__item--left_margin
					a.social__link.social__link--g_plus(href="#", title="Say hello in G+!")
	.footer__description_box--04
		.container.footer__container
			span.footer__description.footer__description--04
				| Our UI/UX researches helped to figure out that the perfect way to charm audience is to keep things clean and simple as much as possible.
			span.footer__copyright.footer__copyright--04
				| &copy; UI-market.com, 2016
// == END OF FOOTER 04 ==