// == START OF FOOTER 05 ==
footer.footer.footer--05
	.footer__main_box--05
		.container.footer__container
			.footer__left_box--05
				a.footer__logo_box.footer__logo_box--05(href="#")
					img.footer__logo.footer__logo--05(src="img/etc/logo--circle--white.svg")
					span.footer__logo_text
						| Phoenix
				span.footer__description.footer__description--05
					| Our promise to you is responsive communication and transparency. When you call or e-mail us, we respond right away and explain all clearly.
			.footer__center_box--05
				ul.footer__menu.footer__menu--05
					li.footer__menu__item.footer__menu__item--05
						a.footer__menu__link(href="#")
							| About
					li.footer__menu__item.footer__menu__item--05
						a.footer__menu__link(href="#")
							| Services
					li.footer__menu__item.footer__menu__item--05
						a.footer__menu__link(href="#")
							| Team
				ul.footer__menu.footer__menu--05
					li.footer__menu__item.footer__menu__item--05
						a.footer__menu__link(href="#")
							| Explore
					li.footer__menu__item.footer__menu__item--05
						a.footer__menu__link(href="#")
							| Tour
					li.footer__menu__item.footer__menu__item--05
						a.footer__menu__link(href="#")
							| Pricing
				ul.footer__menu.footer__menu--05
					li.footer__menu__item.footer__menu__item--05
						a.footer__menu__link(href="#")
							| Support
					li.footer__menu__item.footer__menu__item--05
						a.footer__menu__link(href="#")
							| Contact Us
			.footer__right_box--05
				span.footer__social_text--05
					| Follow us:
				ul.social.footer__social--05.footer__social_box
					li.social__item.social__item--left_margin
						a.social__link.social__link--rounded.social__link--twitter(href="#", title="Say hello in Twitter!")
					li.social__item.social__item--left_margin
						a.social__link.social__link--rounded.social__link--facebook(href="#", title="Say hello in Facebook!")
					li.social__item.social__item--left_margin
						a.social__link.social__link--rounded.social__link--g_plus(href="#", title="Say hello in G+!")
	.footer__description_box--05
		.container.footer__container
			span.footer__copyright.footer__copyright--05
				| &copy; UI-market.com, 2016
// == END OF FOOTER 05 ==