// == START OF FOOTER 06 ==
footer.footer.footer--06(style="background-image: url(img/bg/bg--mountains-ocean.jpg)")
	.footer__main_box--06
		.container.footer__container
			.footer__left_box--06
				a.footer__logo_box.footer__logo_box--06(href="#")
					img.footer__logo.footer__logo--06(src="img/etc/logo--circle--white.svg")
					span.footer__logo_text
						| Phoenix
				span.footer__description.footer__description--06
					| Our UI/UX researches helped to figure out that the perfect way to charm audience is to keep things clean and simple as much as possible.
				a.button--store.footer__button--06(href="#")
					img.button__image(src="img/etc/button--app-store.svg")
				ul.social
					li.social__item.social__item--left_margin
						a.social__link.social__link--twitter(href="#", title="Say hello in Twitter!")
					li.social__item.social__item--left_margin
						a.social__link.social__link--facebook(href="#", title="Say hello in Facebook!")
					li.social__item.social__item--left_margin
						a.social__link.social__link--g_plus(href="#", title="Say hello in G+!")
			.footer__right_box--06
				ul.footer__menu.footer__menu--06
					li.footer__menu__item
						span.footer__menu__title
							| about
					li.footer__menu__item
						a.footer__menu__link(href="#")
							| About
					li.footer__menu__item
						a.footer__menu__link(href="#")
							| Tour
					li.footer__menu__item
						a.footer__menu__link(href="#")
							| Services
					li.footer__menu__item
						a.footer__menu__link(href="#")
							| Pricing
					li.footer__menu__item
						a.footer__menu__link(href="#")
							| Team
					li.footer__menu__item
						a.footer__menu__link(href="#")
							| Shop
					li.footer__menu__item
						a.footer__menu__link(href="#")
							| Apps
				ul.footer__menu.footer__menu--06
					li.footer__menu__item
						span.footer__menu__title
							| press
					li.footer__menu__item
						a.footer__menu__link(href="#")
							| News
					li.footer__menu__item
						a.footer__menu__link(href="#")
							| Offering
					li.footer__menu__item
						a.footer__menu__link(href="#")
							| Awards
					li.footer__menu__item
						a.footer__menu__link(href="#")
							| History
				ul.footer__menu.footer__menu--06
					li.footer__menu__item
						span.footer__menu__title
							| get in touch
					li.footer__menu__item
						a.footer__menu__link(href="#")
							| Support
					li.footer__menu__item
						a.footer__menu__link(href="#")
							| Advertise
					li.footer__menu__item
						a.footer__menu__link(href="#")
							| Affiliates
					li.footer__menu__item
						a.footer__menu__link(href="#")
							| Careers
					li.footer__menu__item
						a.footer__menu__link(href="#")
							| Contact Us
	.footer__description_box--06
		.container.footer__container
			ul.footer__submenu--06
				li.footer__submenu__item--06
					a.footer__submenu__link--06(href="#")
						| Terms and Conditions
				li.footer__submenu__item--06
					a.footer__submenu__link--06(href="#")
						| Privacy Policy
				li.footer__submenu__item--06
					a.footer__submenu__link--06(href="#")
						| Licenses
				li.footer__submenu__item--06
					a.footer__submenu__link--06(href="#")
						| FAQ
			span.footer__copyright.footer__copyright--06
				| &copy; UI-market.com, 2016
// == END OF FOOTER 06 ==