// == START OF FOOTER 02 ==
footer.footer.footer--07
	.container.footer__container
		a.footer__logo_box.footer__logo_box--07(href="#")
			img.footer__logo(src="img/etc/logo--circle--white.svg")
		ul.footer__nav.footer__nav--07
			li.footer__nav__item.footer__nav__item--07
				a.footer__nav__link.footer__nav__link--07(href="#")
					| about
			li.footer__nav__item.footer__nav__item--07
				a.footer__nav__link.footer__nav__link--07(href="#")
					| tour
			li.footer__nav__item.footer__nav__item--07
				a.footer__nav__link.footer__nav__link--07(href="#")
					| pricing
			li.footer__nav__item.footer__nav__item--07
				a.footer__nav__link.footer__nav__link--07(href="#")
					| blog
			li.footer__nav__item.footer__nav__item--07
				a.footer__nav__link.footer__nav__link--07(href="#")
					| contact
		ul.social.footer__social--07.footer__social_box
			li.social__item.social__item--left_margin
				a.social__link.social__link--twitter(href="#", title="Say hello in Twitter!")
			li.social__item.social__item--left_margin
				a.social__link.social__link--facebook(href="#", title="Say hello in Facebook!")
			li.social__item.social__item--left_margin
				a.social__link.social__link--g_plus(href="#", title="Say hello in G+!")
// == END OF FOOTER 07 ==