doctype html
html
	head
		//the must have tags
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width")

		//the must have assets
		link(rel="stylesheet", href="css/main.css")
		//place your Google Maps API key here:
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfh_GTuZk_GKM0YwY-RQ7OBs6sAMcBGUg", defer)
		script(src="js/main.js", defer)

		//page title
		title
			| Brandfies
	body
		main.page_wrapper
			// == START OF PRESENTATION NAVBAR ==
			//this component is used for easier navigation and is not a part of the Phoenix tool. Yet, you still are free to use it in your projects if you want.
			
			include components/covers/18
			include components/about/05
			include components/works/01
			include components/prices/02
			include components/contacts/02
			include components/footers/03
	.js-overlay.js-close-navigation.js-close-menu.overlay