doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width")
		link(rel="stylesheet", href="css/main.css")
		script(src="js/main.js", defer)
		title
			| Brandfie
	body
		main.page_wrapper
			include components/covers/18
			include components/about/05
			include components/works/01
			include components/prices/01
			include components/contacts/02

	.js-overlay.js-close-navigation.js-close-menu.overlay
