doctype html
html
	head
		//the must have tags
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width")
		//the must have assets
		link(rel="stylesheet", href="css/main.css")
		script(src="js/main.js", defer)
		//page title
		title
			| Phoenix Bootstrap UI kit | 02 sample
	body
		main.page_wrapper
			include components/covers/01
			include components/features/10
			include components/features/11
			include components/about/08
			include components/call_to_actions/18
			include components/footers/07