// == START OF FEATURES 01 ==
.features.features--01(style="background-image: url(img/bg/bg--skaters.jpg)")
	.features__container--01
		.features__box--01
			.features__item.features__item--01
				.features__item_icon_circle.features__item_icon_circle--play-icon
				h3.features__item_title
					| Clean css3 animations
				span.features__item_text.features__item_text--01
					| You know what's worse than not working hard? Working hard in the wrong direction.
			.features__item.features__item--01
				.features__item_icon_circle.features__item_icon_circle--star-icon
				h3.features__item_title
					| free updates
				span.features__item_text.features__item_text--01
					| Real greatness does not reside inside those who feel large. The truly wise are meek.
			.features__item.features__item--01
				.features__item_icon_circle.features__item_icon_circle--code-icon
				h3.features__item_title
					| Clean code
				span.features__item_text.features__item_text--01
					| All great spirits have always encountered violent opposition from mediocre cool minds.
		.features__content_box--01
			.features__content_wrapper--01
				.features__logo_box--01
					img.features__logo--01(src="img/etc/logo--circle--white.svg")
				h4.features__logo_title--01
					| Phoenix
				h5.features__logo_subtitle--01
					| UI kit
				h3.features__title--01
					| Free updates and life
					br
					| time support
				span.features__description--01
					| Wordpress, HTML5 and CSS3 files are served for the fastest start.
				a.button.button--border-white(href="#")
					| buy now
// == END OF FEATURES 01 ==