// == START OF FEATURES 02 ==
.features.features--02
	.container
		.features__title_box.features__title_box--02
			h2.features__title--02
				| Our benefits
			span.features__description.features__description--02
				| When we are connected to the source, we sure will not be afraid of any task set before all of us.
	.container
		.row.features__row
			.col-xs-12.col-md-6.col-lg-3.features__item.features__item--02
				.features__item_icon_circle.features__item_icon_circle--02.features__item_icon_circle--play-icon--blue
				h3.features__item_title
					| ready to use
				span.features__item_text
					| Phoenix works perfect in all modern browsers (Chrome, Safari, Firefox etc).
			.col-xs-12.col-md-6.col-lg-3.features__item.features__item--02
				.features__item_icon_circle.features__item_icon_circle--02.features__item_icon_circle--trophy-icon--blue
				h3.features__item_title
					| Clean design
				span.features__item_text
					| A combination of the unique layout and material design best practices is what the Phoenix loved for.
			.col-xs-12.col-md-6.col-lg-3.features__item.features__item--02
				.features__item_icon_circle.features__item_icon_circle--02.features__item_icon_circle--code-icon--blue
				h3.features__item_title
					| bootstrap based
				span.features__item_text
					| Most popular 1170px grid and all the Bootstrap components are at your service.
			.col-xs-12.col-md-6.col-lg-3.features__item.features__item--02
				.features__item_icon_circle.features__item_icon_circle--02.features__item_icon_circle--star-icon--blue
				h3.features__item_title
					| unique icons
				span.features__item_text
					| Phoenix is an SVG based instrument, meaning all icons  are sharp and look awesome everywhere.
// == END OF FEATURES 02 ==