// == START OF FEATURES 03 ==
.features.features--03
	.container
		.features__title_box.features__title_box--03
			h2.features__title--03
				| A clean and modern design
			span.features__description.features__description--03
				| The purpose of a good education is to show you that there are three sides to a two-sided story.
	.container
		.row.features__row
			.col-xs-12.col-lg-4.features__item.features__item--03
				.features__item_icon_circle.features__item_icon_circle--play-icon
				h3.features__item_title
					| Smooth css3 animations
				span.features__item_text
					| Nobody can be famous but you can be great, because greatness is determined by service.
			.col-xs-12.col-lg-4.features__item.features__item--03
				.features__item_icon_circle.features__item_icon_circle--star-icon
				h3.features__item_title
					| free updates
				span.features__item_text
					| I was never afraid of failure; for I would sooner fail than not be among the most greatest.
			.col-xs-12.col-lg-4.features__item.features__item--03
				.features__item_icon_circle.features__item_icon_circle--code-icon
				h3.features__item_title
					| Clean code
				span.features__item_text
					| When our little bit is combined with His good greatness, the all team is truly unbeatable.
// == END OF FEATURES 03 ==