// == START OF FEATURES 04 ==
.features.features--04
	.features__container--04
		.container
			.features__box--04.features__box--image--04.features__box--image--left--04(style="background-image: url(img/bg/bg--black-bg-man--cropped.jpg)")
			.features__box--04.features__box--left-margin--04
				h3.features__item_title--04
					| Elegant Style
				span.features__item_text.features__item_text--04
					| He knew now that it was his own will to happiness which must make the next move. But if he was to do so, he realized that he must come to terms with time, that to have time was at once the most magnificent.
				a.button.button--blue.button--blue-shadow(href="#")
					| buy now
	.features__container--04
		.container
			.features__box--04
				h3.features__item_title--04
					| The Highest Quality
				span.features__item_text.features__item_text--04
					| Men love women who are courageous for it means they can go all the way with him in his pursuit of his good dreams and intentions.
				a.button.button--blue.button--blue-shadow(href="#")
					| buy now
			.features__box--04.features__box--image--04.features__box--image--right--04(style="background-image: url(img/bg/bg--headphones-man.jpg)")
// == END OF FEATURES 04 ==