// == START OF FEATURES 05 ==
.features.features--05
	.container
		.features__title_box.features__title_box--05
			h2.features__title--05
				| Always giving the best
	.container
		.row
			.col-xs-12.col-md-6.col-lg-4.features__item.features__item--05
				.features__item_icon_circle.features__item_icon_circle--05.features__item_icon_circle--trophy-icon--blue
				h3.features__item_title
					| Excellent design
				span.features__item_text
					| Until you're finally ready to look foolish, you'll never have the possibility of being great.
			.col-xs-12.col-md-6.col-lg-4.features__item.features__item--05
				.features__item_icon_circle.features__item_icon_circle--05.features__item_icon_circle--magnifier-icon--blue
				h3.features__item_title
					| SEO Friendly
				span.features__item_text
					| When our little bit is combined with His good greatness, the all team is truly unbeatable.
			.col-xs-12.col-md-6.col-lg-4.features__item.features__item--05
				.features__item_icon_circle.features__item_icon_circle--05.features__item_icon_circle--zip-icon--blue
				h3.features__item_title
					| Fastest launch
				span.features__item_text
					| Doing what needs to be done may not make you happy, but it will make you very great.
			.col-xs-12.col-md-6.col-lg-4.features__item.features__item--05
				.features__item_icon_circle.features__item_icon_circle--05.features__item_icon_circle--stack-icon--blue
				h3.features__item_title
					| Fully Responsive
				span.features__item_text
					| Who can feel the mineral and harmony of a believer if he has the density of the seeker.
			.col-xs-12.col-md-6.col-lg-4.features__item.features__item--05
				.features__item_icon_circle.features__item_icon_circle--05.features__item_icon_circle--star-icon--blue
				h3.features__item_title
					| free updates
				span.features__item_text
					| Always be a first rate version of yourself and not a second rate version of someone else.
			.col-xs-12.col-md-6.col-lg-4.features__item.features__item--05
				.features__item_icon_circle.features__item_icon_circle--05.features__item_icon_circle--speedometer-icon--blue
				h3.features__item_title
					| Lightning speed
				span.features__item_text
					| You know what's worse than not working hard? Working hard in the wrong direction.
// == END OF FEATURES 05 ==