// == START OF FEATURES 06 ==
.features.features--06(style="background-image: url(img/bg/bg--headphones-white.jpg)")
	.container.features__container--06
		.features__title_box.features__title_box--06
			h2.features__title--06
				| For the ones who
				br
				| value good design
			span.features__description.features__description--06
				| When we are connected to the source, we sure will not be afraid of any task set before all of us.
		.row.features__row
			.col-md-6.col-lg-3.features__item.features__item--06
				.features__item_icon_circle.features__item_icon_circle--06.features__item_icon_circle--tune-icon--blue.features__item_icon_circle--icon--big
				h3.features__item_title
					| Perfect sound
				span.features__item_text.features__item_text--06
					| Men love women who are brave for it means they can go the way with him in his pursuit of his good dreams and intentions.
				a.features__item_link(href="#")
					| learn more
			.col-md-6.col-lg-3.features__item.features__item--06
				.features__item_icon_circle.features__item_icon_circle--06.features__item_icon_circle--zip-icon--blue.features__item_icon_circle--icon--big
				h3.features__item_title
					| free updates
				span.features__item_text.features__item_text--06
					| Your greatness is revealed not by the very lights that shine upon you, but by the light that shines within you and only you.
				a.features__item_link(href="#")
					| learn more
// == END OF FEATURES 06 ==