// == START OF FEATURES 07 ==
.features.features--07
	.container
		.features__title_box.features__title_box--07
			h2.features__title--07
				| FAQs
			span.features__description.features__description--07
				| Some of the answers, to the questions that you might have
	.container
		.row
			.col-xs-12.col-md-6.col-lg-4.features__item.features__item--07
				.features__item_icon_circle.features__item_icon_circle--07
				h3.features__item_title
					| Can I Request Changes?
				span.features__item_text.features__item_text--07
					| With a Single Plan no, with the Pro Plan you can either request 1 branfie and then 1 change, or 2 brandfies and no changes
			.col-xs-12.col-md-6.col-lg-4.features__item.features__item--07
				.features__item_icon_circle.features__item_icon_circle--07
				h3.features__item_title
					| What if I don't like the Brandfie?
				span.features__item_text.features__item_text--07
					| Brandfies are quick photographs that are best for social media promotions. They are not graphic designs where a designer would spend days or weeks on them.
			.col-xs-12.col-md-6.col-lg-4.features__item.features__item--07
				.features__item_icon_circle.features__item_icon_circle--07
				h3.features__item_title
					| What if I need more than 2 Brandfies?
				span.features__item_text.features__item_text--07
					| You can get in touch with us through the form in the contact section.
// == END OF FEATURES 07 ==