// == START OF FEATURES 07 ==
.features.features--07
	.container
		.features__title_box.features__title_box--07
			h2.features__title--07
				| The New Big Thing
			span.features__description.features__description--07
				| Motivating others leads to success whereas inspiring others leads to the most grand greatness.
	.container
		.row
			.col-xs-12.col-md-6.col-lg-4.features__item.features__item--07
				.features__item_icon_circle.features__item_icon_circle--07.features__item_icon_circle--trophy-icon--blue
				h3.features__item_title
					| Excellent design
				span.features__item_text.features__item_text--07
					| You know what's worse than not working hard? Working hard in the wrong direction.
			.col-xs-12.col-md-6.col-lg-4.features__item.features__item--07
				.features__item_icon_circle.features__item_icon_circle--07.features__item_icon_circle--magnifier-icon--blue
				h3.features__item_title
					| SEO friendly
				span.features__item_text.features__item_text--07
					| Think crazily, even if others laugh at you. Always act bravely, even if you are all alone.
			.col-xs-12.col-md-6.col-lg-4.features__item.features__item--07
				.features__item_icon_circle.features__item_icon_circle--07.features__item_icon_circle--zip-icon--blue
				h3.features__item_title
					| Lightweight code
				span.features__item_text.features__item_text--07
					| Real greatness does not reside inside those who feel large. The truly wise are meek.
			.col-xs-12.col-md-6.col-lg-4.features__item.features__item--07
				.features__item_icon_circle.features__item_icon_circle--07.features__item_icon_circle--rocket-icon--blue
				h3.features__item_title
					| Fastest launch
				span.features__item_text.features__item_text--07
					| When our little bit is combined with His good greatness, the all team is truly unbeatable.
			.col-xs-12.col-md-6.col-lg-4.features__item.features__item--07
				.features__item_icon_circle.features__item_icon_circle--07.features__item_icon_circle--star-icon--blue
				h3.features__item_title
					| free updates
				span.features__item_text.features__item_text--07
					| All great spirits have always encountered violent opposition from mediocre cool minds.
			.col-xs-12.col-md-6.col-lg-4.features__item.features__item--07
				.features__item_icon_circle.features__item_icon_circle--07.features__item_icon_circle--stack-icon--blue
				h3.features__item_title
					| Fully Responsive
				span.features__item_text.features__item_text--07
					| Always be a first rate version of yourself and not a second rate version of someone else.
// == END OF FEATURES 07 ==