// == START OF FEATURES 08 ==
.features.features--08
	.container
		.row.features__row
			.col-xs-12.col-lg-4.features__item.features__item--08
				.features__item_icon_circle.features__item_icon_circle--08.features__item_icon_circle--google_font-icon
				h3.features__item_title.features__item_title--08
					| free fonts
				span.features__item_text.features__item_text--08
					| All great spirits have always encountered violent opposition from mediocre cool minds.
				a.features__item_link.features__item_link--08(href="#")
					| learn more
			.col-xs-12.col-lg-4.features__item.features__item--08
				.features__item_icon_circle.features__item_icon_circle--08.features__item_icon_circle--heart-icon
				h3.features__item_title.features__item_title--08
					| fresh layouts
				span.features__item_text.features__item_text--08
					| Doing what needs to be done may not make you happy, but it will make you very great.
				a.features__item_link.features__item_link--08(href="#")
					| learn more
			.col-xs-12.col-lg-4.features__item.features__item--08
				.features__item_icon_circle.features__item_icon_circle--08.features__item_icon_circle--gear-icon
				h3.features__item_title.features__item_title--08
					| advanced features
				span.features__item_text.features__item_text--08
					| You know what's better than not working hard? Working hard in the good direction.
				a.features__item_link.features__item_link--08(href="#")
					| learn more
// == END OF FEATURES 08 ==