// == START OF FEATURES 09 ==
.features.features--09
	.container.features__container--09
		.features__title_box.features__title_box--09
			h2.features__title--09
				| A clean and modern design
			span.features__description.features__description--09
				| I must be a mermaid, Rango. I have no fear of depths and a great fear of shallow lovely living.
		.row.features__row
			.col-xs-12.col-lg-4.features__item.features__item--09
				.features__item_icon_circle.features__item_icon_circle--09.features__item_icon_circle--tune-icon--blue.features__item_icon_circle--icon--big
				h3.features__item_title
					| spotify sync
				span.features__item_text.features__item_text--09
					| Greatness is a property for which no man can receive credit too soon; it must be possessed long before it is acknowledged well.

				a.features__item_link(href="#")
					| learn more
			.col-xs-12.col-lg-4.features__item.features__item--09
				.features__item_icon_circle.features__item_icon_circle--09.features__item_icon_circle--zip-icon--blue.features__item_icon_circle--icon--big
				h3.features__item_title
					| ssd support
				span.features__item_text.features__item_text--09
					| Men love women very much who are brave for it means they can go all the way with him in his pursuit of his good dreams all you.
				a.features__item_link(href="#")
					| learn more
			.col-xs-12.col-lg-4.features__item.features__item--09
				.features__item_icon_circle.features__item_icon_circle--09.features__item_icon_circle--heart-icon--blue.features__item_icon_circle--icon--big
				h3.features__item_title
					| customer care
				span.features__item_text.features__item_text--09
					| Suddenly summoned to witness something very great and horrendous, we still keep fighting not to reduce it to our own smallness.
				a.features__item_link(href="#")
					| learn more
// == END OF FEATURES 09 ==