// == START OF FEATURES 10 ==
.features.features--10
	.container
		.row.features__row
			.col-xs-12.col-lg-4.features__item.features__item--10
				.features__item_icon_circle.features__item_icon_circle--10.features__item_icon_circle--zip-circle-icon
				h3.features__item_title.features__item_title--10
					| always precise
				span.features__item_text.features__item_text--10
					| I was never afraid of failure; for I would sooner fail than not be among the most greatest.
				a.features__item_link.features__item_link--10(href="#")
					| learn more
			.col-xs-12.col-lg-4.features__item.features__item--10
				.features__item_icon_circle.features__item_icon_circle--10.features__item_icon_circle--leaf-icon
				h3.features__item_title.features__item_title--10
					| soft leather
				span.features__item_text.features__item_text--10
					| Until you're finally ready to look foolish, you'll never have the possibility of being great.
				a.features__item_link.features__item_link--10(href="#")
					| learn more
			.col-xs-12.col-lg-4.features__item.features__item--10
				.features__item_icon_circle.features__item_icon_circle--10.features__item_icon_circle--infinity-icon
				h3.features__item_title.features__item_title--10
					| minimalism feast
				span.features__item_text.features__item_text--10
					| Nobody can be famous but you can be great, because greatness is determined by service.
				a.features__item_link.features__item_link--10(href="#")
					| learn more
// == END OF FEATURES 10 ==