// == START OF FEATURES 11 ==
.features.features--11
	.features__container--11
		.container
			.features__box--11.features__box--image--11.features__box--image--left--11(style="background-image: url(img/bg/bg--white-watches.jpg)")
			.features__box--11.features__box--left-margin--11
				h3.features__item_title--11
					| Soft materials
				span.features__item_text.features__item_text--11
					| Warm genuine leather straps from local supplier comes in two colors: dark and brown. Highly protected glass gives water resistance up to 30 meters.
				a.button.button--black(href="#")
					| order now
	.features__container--11
		.container
			.features__box--11
				h3.features__item_title--11
					| Elegant style
				span.features__item_text.features__item_text--11
					| A sophisticated watch by Simpl Watch, which incorporates perfect functionality while maintaining a stylish appearance. Your watch now represents your individuality.
				a.button.button--black(href="#")
					| order now
			.features__box--11.features__box--image--11.features__box--image--right--11(style="background-image: url(img/bg/bg--black-pair-watches.jpg)")
// == END OF FEATURES 11 ==