// == START OF FEATURES 12 ==
.features.features--12(style="background-image: url(img/bg/bg--veg_food.jpg)")
	.features__container--12
		.features__box--12
			.features__item.features__item--12
				.features__item_icon_circle.features__item_icon_circle--12.features__item_icon_circle--heart-icon
				h3.features__item_title.features__item_title--12
					| healthy
				span.features__item_text.features__item_text--12
					| Eating right and exercising regularly can help you avoid excess weight gain and maintain a healthy weight.
			.features__item.features__item--12
				.features__item_icon_circle.features__item_icon_circle--12.features__item_icon_circle--trophy-icon
				h3.features__item_title.features__item_title--12
					| tasty
				span.features__item_text.features__item_text--12
					| The same diseases that make you feel bad and cost a lot of money may also lower your life expectancy.
			.features__item.features__item--12
				.features__item_icon_circle.features__item_icon_circle--12.features__item_icon_circle--rocket-icon
				h3.features__item_title.features__item_title--12
					| your fast
				span.features__item_text.features__item_text--12
					| Get active. Just increasing activity a little bit may create a mindset to eat better too.
		.features__content_box--12
			.features__content_wrapper--12
				.features__logo_box--12
					img.features__logo--12(src="img/etc/logo--circle--white.svg")
				h3.features__title--12
					| Fast, Fresh & Friendly
					br
					| food delivery
				span.features__description--12
					| Brand new food delivery service coming up in 06/06/16 in New York.
// == END OF FEATURES 12 ==