.features--08{
	padding-top: 60px;

	background-color: $sky;

	@media (#{$max_phones}){
		padding-top: 50px;
		padding-bottom: 20px;
	}
}
.features__item--08{
	margin-bottom: 60px;
}
.features__item_icon_circle--08{
	height: 35px;

	background-color: transparent;
}
.features__item_title--08{
	color: white;
}
.features__item_text--08{
	display: block;
	margin: auto auto 20px;

	max-width: 350px;

	color: rgba(white, 0.6);
	font-size: 13px;
}
.features__item_link--08{
	color: white;

	&:before{
		background-color: white;
	}

	&:hover, &:focus, &:active, &:visited{
		color: white;
	}
}
