// == START OF call_to_action 05 ==
.call_to_action.call_to_action--05(style="background-image: url(img/bg/bg--mastery.jpg)")
	.container
			h2.call_to_action__title.call_to_action__title--05
				| Your most&MediumSpace;
				span.call_to_action__title_text__accent_word
					| exciting&MediumSpace;
				| journey
				br
				| begins&nbsp;
				span.call_to_action__title_text__accent_word
					| here&nbsp;
			a.button.button--white.button--black-shadow(href="#")
				| Let’s start
// == END OF call_to_action 05 ==