// == START OF call_to_action 06 ==
.call_to_action.call_to_action--06.call_to_action--picture(style="background-image: url(img/bg/bg--apple-devices.jpg)")
	.container
		.call_to_action__title.call_to_action__title--06
			| Become more creative
			br
			| with Phoenix

		form#mc-embedded-subscribe-form.call_to_action__form.call_to_action__form--06.validate.js-subscribe-form(action='//ui-market.us13.list-manage.com/subscribe/post-json?u=c753049c0b6c0ccd061d10786&id=e574a9d387&c=?', method='post', name='mc-embedded-subscribe-form', novalidate='')
			#mc_embed_signup_scroll
				.call_to_action__input_box--06
					.mc-field-group
						input#mce-NAME.input.input--snow.call_to_action__input--06.name(type='text', required, placeholder='Your name', value='', name='NAME')
						input#mce-EMAIL.input.input--snow.call_to_action__input--06.email(type='email', required, placeholder='Your email', value='', name='EMAIL')
					#mce-responses.clear
						#mce-error-response.response(style='display:none')
						#mce-success-response.response(style='display:none')
					// real people should not fill this in and expect good things - do not remove this or risk form bot signups
					div(style='position: absolute; left: -5000px;', aria-hidden='true')
						input(type='text', name='b_c753049c0b6c0ccd061d10786_e574a9d387', tabindex='-1', value='')
				.clear
					input#mc-embedded-subscribe.button.button--blue.call_to_action__button--06.js-submit-button(type='submit', value='get started', name='subscribe')
					.js-error-message.call_to_action__message.call_to_action__message--red
						| Sorry, internal error.
					.js-success-message.call_to_action__message.call_to_action__message--green
						| Thanks!
						br
						| Please click the link in the email we've just sent you.
// == END OF call_to_action 06 ==