// == START OF call_to_action 08 ==
.call_to_action.call_to_action--08(style="background-image: url(img/bg/bg--city-gray.jpg)")
	.container
		h2.call_to_action__title.call_to_action__title--08
			| Sign up for free
		form.call_to_action__form--08(action="", method="POST")
			input.call_to_action__form__item--08.input.input--dark(type="text", placeholder="Your name")
			input.call_to_action__form__item--08.input.input--dark(type="email", placeholder="Your email", required)
			input.call_to_action__form__item--08.input.input--dark(type="password", placeholder="Password", required)
			button.call_to_action__form__item--08.call_to_action__form__button--08.button.button--blue.button--small-radius(type="submit")
				| send
// == END OF call_to_action 08 ==