// == START OF call_to_action 10 ==
.call_to_action.call_to_action--10(style="background-image: url(img/bg/bg--bright-office.jpg)")
	.container
		.row
			.col-xs-12.col-lg-6
				h2.call_to_action__title.call_to_action__title--10
					| Great details
				span.call_to_action__text.call_to_action__text--10
					| Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
				br
				a.call_to_action__link(href="#")
					| learn more
// == END OF call_to_action 10 ==