// == START OF call_to_action 12 ==
.call_to_action.call_to_action--12(style="background-image: url(img/bg/bg--watches-black.jpg)")
		.container
			h2.call_to_action__title
				| Awesome minimalism
			a.call_to_action__link--12(href="#")
				| Make a preoder now
// == END OF call_to_action 12 ==