// == START OF call_to_action 17 ==
.call_to_action.call_to_action--17.call_to_action--picture(style="background-image: url(img/bg/bg--new_york.jpg)")
	.container
		.call_to_action__content_box--17
			h2.call_to_action__title--17
				span.call_to_action__title_text--17
					| Creating&#8287;
					span.call_to_action__title_text__accent_word
						| wonderful&#8287;
					| things&#8287;
					br
					| is a&#8287;
					span.call_to_action__title_text__accent_word
						| breeze&#8287;
					| from now
			.call_to_action__description_box--17
				span.call_to_action__description_text--17
					| Who can know the joy and pain of a power if he has the hermetic attitude of the saint.

			form#mc-embedded-subscribe-form.call_to_action__form--17.validate.js-subscribe-form(action='//ui-market.us13.list-manage.com/subscribe/post-json?u=c753049c0b6c0ccd061d10786&id=e574a9d387&c=?', method='post', name='mc-embedded-subscribe-form', novalidate='')
				#mc_embed_signup_scroll
					.call_to_action__input_box--17
						.mc-field-group
							input#mce-EMAIL.call_to_action__form__item--17.input.input--gray.email(type='email', required, placeholder='Your email', value='', name='EMAIL')
						#mce-responses.clear
							#mce-error-response.response(style='display:none')
							#mce-success-response.response(style='display:none')
						// real people should not fill this in and expect good things - do not remove this or risk form bot signups
						div(style='position: absolute; left: -5000px;', aria-hidden='true')
							input(type='text', name='b_c753049c0b6c0ccd061d10786_e574a9d387', tabindex='-1', value='')
						.clear
							input#mc-embedded-subscribe.call_to_action__form__item--17.button.button--blue.button--small-radius.js-submit-button(type='submit', value='be first', name='subscribe')
						.js-error-message.call_to_action__message.call_to_action__message--red
							| Sorry, internal error.
						.js-success-message.call_to_action__message.call_to_action__message--green
							| Thanks! Please click the link in the email we've just sent you.
			ul.social
				li.social__item.social__item--equal_margin
					a.social__link.social__link--twitter(href="#")
				li.social__item.social__item--equal_margin
					a.social__link.social__link--facebook(href="#")
				li.social__item.social__item--equal_margin
					a.social__link.social__link--g_plus(href="#")

// == END OF call_to_action 17 ==