.footer--03{
	position: relative;

	@media (#{$max_tablets}){
		padding: 30px 0;
	}
	@media (#{$min_tablets}){
		height: 100px;
		line-height: 100px;
	}
}
.footer__social--03{
	@media (#{$min_tablets}) {
		float: right;
	}
}