// == START OF TESTIMONIALS 01 ==
.testimonials.testimonials--01
	h2.testimonials__title.testimonials__title--01
		| Testimonials
	.testimonials__arrows_box.testimonials__arrows_box--01
		button.testimonials__arrow.testimonials__arrow--left.testimonials__arrow--01.testimonials__arrow--01--left.js-testimonials-prev-arrow--01(type="button")
		button.testimonials__arrow.testimonials__arrow--right.testimonials__arrow--01.testimonials__arrow--01--right.js-testimonials-next-arrow--01(type="button")
	.testimonials__box.js-slider(data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "fade": false, "prevArrow" : ".js-testimonials-prev-arrow--01", "nextArrow": ".js-testimonials-next-arrow--01", "cssEase": "linear"}')
		.testimonials__item
			span.testimonials__item_text
				| Who can receive the hypnosis and shame of a yogi if he has the fraternal afterlife of the sun.
			.testimonials__item_photo(style="background-image:url(img/pictures/pic--ive.png)")
			span.testimonials__item_name
				| Jonathan Ive
			span.testimonials__item_job
				| Senior Vice-President in charge of design at Apple
		.testimonials__item
			span.testimonials__item_text
				| The relativity of your sainthoods will balance harmoniously when you illuminate that satori is the lover.
			.testimonials__item_photo(style="background-image:url(img/pictures/pic--doe.jpg)")
			span.testimonials__item_name
				| John Doe
			span.testimonials__item_job
				| CTO at Geekish inc
// == END OF TESTIMONIALS 01 ==