// == START OF TESTIMONIALS 02 ==
.testimonials.testimonials--02
	h2.testimonials__title.testimonials__title--02
		| What people say
	.testimonials__arrows_box.testimonials__arrows_box--02
		button.testimonials__arrow.testimonials__arrow--left.testimonials__arrow--02.testimonials__arrow--02--left.js-testimonials-prev-arrow--02(type="button")
		button.testimonials__arrow.testimonials__arrow--right.testimonials__arrow--02.testimonials__arrow--02--right.js-testimonials-next-arrow--02(type="button")
	.testimonials__box.testimonials__box--02.js-slider(data-slick='{"slidesToShow": 2, "slidesToScroll": 1, "fade": false, "prevArrow" : ".js-testimonials-prev-arrow--02", "nextArrow": ".js-testimonials-next-arrow--02", "cssEase": "linear", "responsive": [{"breakpoint": 650, "settings": {"slidesToShow": 1}}]}')
		.testimonials__item.testimonials__item--02
			span.testimonials__item_text.testimonials__item_text--02
				span.testimonials__item_name.testimonials__item_name--02
					| Jonathan Ive
				| Hercle, lixa placidus!, rusticus vigil! Cum ignigena peregrinatione, omnes classises reperire primus, magnum xiphiases.
		.testimonials__item.testimonials__item--02
			span.testimonials__item_text.testimonials__item_text--02
				span.testimonials__item_name.testimonials__item_name--02
					| Marissa Dayer
				| Tumultumques experimentum in camerarius piscinam! Cum ratione ridetis, omnes specieses imperium altus, grandis ollaes.
		.testimonials__item.testimonials__item--02
			span.testimonials__item_text.testimonials__item_text--02
				span.testimonials__item_name.testimonials__item_name--02
					| Christian Wipe
				| Eheu. Albus heuretess ducunt ad epos. Cum fuga persuadere, omnes navises fallere emeritis, barbatus agripetaes.
// == END OF TESTIMONIALS 02 ==