// == START OF TESTIMONIALS 04 ==
.testimonials.testimonials--04
	.testimonials__arrows_box.testimonials__arrows_box--04
		button.testimonials__arrow.testimonials__arrow--left.testimonials__arrow--04.testimonials__arrow--04--left.js-testimonials-prev-arrow--04(type="button")
		button.testimonials__arrow.testimonials__arrow--right.testimonials__arrow--04.testimonials__arrow--04--right.js-testimonials-next-arrow--04(type="button")

	.testimonials__photos_box--04.js-slider.js-testimonials-photo-slider(data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "fade": false, "cssEase": "linear", "arrows": false, "asNavFor": ".js-testimonials-text-slider", "centerMode": true, "focusOnSelect": true, "responsive": [{"breakpoint": 500, "settings": {"slidesToShow": 3, "centerMode": false}}]}')
		.testimonials__item_photo_box--04
			.testimonials__item_photo.testimonials__item_photo--04(style="background-image:url(img/pictures/pic--ive.png)")
		.testimonials__item_photo_box--04
			.testimonials__item_photo.testimonials__item_photo--04(style="background-image:url(img/pictures/pic--musk.jpg)")
		.testimonials__item_photo_box--04
			.testimonials__item_photo.testimonials__item_photo--04(style="background-image:url(img/pictures/pic--doe.jpg)")
		.testimonials__item_photo_box--04
			.testimonials__item_photo.testimonials__item_photo--04(style="background-image:url(img/pictures/pic--tobias.jpg)")

	.testimonials__box.testimonials__box--04.js-slider.js-testimonials-text-slider(data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "fade": true, "cssEase": "linear", "arrows": true, "prevArrow" : ".js-testimonials-prev-arrow--04", "nextArrow": ".js-testimonials-next-arrow--04", "asNavFor": ".js-testimonials-photo-slider"}')
		.testimonials__item.testimonials__item--04
			span.testimonials__item_text.testimonials__item_text--04
				| “Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris."
			.testimonials__rating_box
				img.testimonials__rating_star(src="img/icons/i--star--blue--solid.svg")
				img.testimonials__rating_star(src="img/icons/i--star--blue--solid.svg")
				img.testimonials__rating_star(src="img/icons/i--star--blue--solid.svg")
				img.testimonials__rating_star(src="img/icons/i--star--blue--solid.svg")
				img.testimonials__rating_star(src="img/icons/i--star--blue--solid.svg")
			span.testimonials__item_name
				| Jonathan Ive
			span.testimonials__item_job
				| Senior Vice-President in charge of design at Apple
		.testimonials__item.testimonials__item--04
			span.testimonials__item_text.testimonials__item_text--04
				| "Shangri-la is not the remarkable beauty of the sun. Suffering doesn’t beautifully feel any therapist — but the teacher is what wrestles."
			.testimonials__rating_box
				img.testimonials__rating_star(src="img/icons/i--star--blue--solid.svg")
				img.testimonials__rating_star.testimonials__rating_star--hidden(src="img/icons/i--star--blue--solid.svg")
				img.testimonials__rating_star.testimonials__rating_star--hidden(src="img/icons/i--star--blue--solid.svg")
				img.testimonials__rating_star.testimonials__rating_star--hidden(src="img/icons/i--star--blue--solid.svg")
				img.testimonials__rating_star.testimonials__rating_star--hidden(src="img/icons/i--star--blue--solid.svg")
			span.testimonials__item_name
				| Elon Musk
			span.testimonials__item_job
				| CEO at Tesla Motors
		.testimonials__item.testimonials__item--04
			span.testimonials__item_text.testimonials__item_text--04
				| The love of your intuitions will empower truly when you shape that grace is the yogi.
			.testimonials__rating_box
				img.testimonials__rating_star(src="img/icons/i--star--blue--solid.svg")
				img.testimonials__rating_star(src="img/icons/i--star--blue--solid.svg")
				img.testimonials__rating_star(src="img/icons/i--star--blue--solid.svg")
				img.testimonials__rating_star.testimonials__rating_star--hidden(src="img/icons/i--star--blue--solid.svg")
				img.testimonials__rating_star.testimonials__rating_star--hidden(src="img/icons/i--star--blue--solid.svg")
			span.testimonials__item_name
				| John Doe
			span.testimonials__item_job
				| Designer at Parist st.
		.testimonials__item.testimonials__item--04
			span.testimonials__item_text.testimonials__item_text--04
				| Extend happens when you capture samadhi so oddly that whatsoever you are sitting is your awareness.
			.testimonials__rating_box
				img.testimonials__rating_star(src="img/icons/i--star--blue--solid.svg")
				img.testimonials__rating_star(src="img/icons/i--star--blue--solid.svg")
				img.testimonials__rating_star(src="img/icons/i--star--blue--solid.svg")
				img.testimonials__rating_star.testimonials__rating_star--hidden(src="img/icons/i--star--blue--solid.svg")
				img.testimonials__rating_star.testimonials__rating_star--hidden(src="img/icons/i--star--blue--solid.svg")
			span.testimonials__item_name
				| Tobias S.
			span.testimonials__item_job
				| Sales Chief at Wisdom General
// == END OF TESTIMONIALS 04 ==