// == START OF TESTIMONIALS 06 ==
.testimonials.testimonials--06
	.testimonials__box.testimonials__box--06.js-slider(data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "fade": false, "cssEase": "linear", "arrows": false, "dots": true}')
		.testimonials__item
			span.testimonials__item_text.testimonials__item_text--06
				| One wonderful meditation i give you: discover each other.
				| The stigma of synthesising therapists is beloved.
				| The source rejects.
			.testimonials__item_photo(style="background-image:url(img/pictures/pic--ive.png)")
			span.testimonials__item_name
				| Jonathan Ive
		.testimonials__item
			span.testimonials__item_text.testimonials__item_text--06
				| Never desire the spirit, for you cannot receive it.
				| Try shakeing meatballs porridge seasoned with honey.
			.testimonials__item_photo(style="background-image:url(img/pictures/pic--doe.jpg)")
			span.testimonials__item_name
				| John Doe
// == END OF TESTIMONIALS 06 ==