//05 cover specific styles
.cover--05{
	@media (#{$max_phones}){
		height: auto;
		min-height: 100vh;

		padding-bottom: 30px;
	}
}
.cover__content_box--05{
	position: absolute;
	left: $container_side_margin;
	right: $container_side_margin;
	margin: auto;
	transform: translateY(-40%); //not centered actually
	top: 50%;

	text-align: center;

	@media (#{$max_phones}){
		transform: translateY(-50%);
	}
	@media (max-width: 350px){
		position: static;
		transform: none;

		margin-top: 100px;
	}
}
.cover__tag_button--05{
	margin-bottom: 20px;
}
.cover__title--05{
}
.cover__title_text--05{
	@include font_loader($montserrat, 7, 'n');

	font-size: 50px;
	letter-spacing: 0.03em;
	color: white;

	@media (#{$max_laptop}){
		font-size: 45px;
	}
	@media (#{$max_tablets}){
		font-size: 35px;
	}
	@media (#{$max_phones}){
		font-size: 30px;

		br{
			display: none;
		}
	}
}
.cover__description_box--05{
	max-width: 350px;

	margin: 50px auto 40px;

	@media (#{$max_phones}){
		margin-top: 30px;
		margin-bottom: 25px;
	}
}
.cover__description_text--05{
	@include font_loader($playfair, 4, 'i');

	color: rgba(white, 0.67);

	font-style: italic;
	font-size: 17px;

	@media (#{$max_phones}){
		font-size: 13px;
	}
}
.cover__form--05{
	max-width: 225px;
	margin: auto;
}
.cover__form__item--05{
	width: 100%;

	margin-bottom: 10px;
}
.cover__form--05 .call_to_action__message{
	padding: 0 10px;
}