.overlay{
	height: 0;
	opacity: 0;

	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;

	z-index: 100;

	background-color: rgba($steel, 0.6);

	transition: opacity 0.3s ease;

	cursor: pointer;

	&.state-visible{
		opacity: 1;
		height: 100%;
	}
}