// == START OF contacts 01 ==
.contacts.contacts--01
	.container
		.row
			.col-xs-12.contacts_info_column--01
				.contacts__info--01
					h2.contacts__title.contacts__title--01
						| Contacts
					.contacts__content--01
						.contacts__item
							h3.contacts__item_title
								| Address
							span.contacts__item_text
								| 350 5th Ave
								br
								| Floor 54
								br
								| New York, NY, 10118
						.contacts__item
							h3.contacts__item_title
								| Phone
							span.contacts__item_text
								| +1 646 398-8084
						.contacts__item
							h3.contacts__item_title
								| email
							a.contacts__item_text(href="mailto:hello@ui-market.com", target="_blank")
								| hello@ui-market.com
				ul.social
					li.contacts__social_item--01.social__item
						a.social__link.social__link--rounded.social__link--twitter--black(href="https://twitter.com/ui_market", target="_blank")
					li.contacts__social_item--01.social__item
						a.social__link.social__link--rounded.social__link--facebook--black(href="https://www.facebook.com/uimarket.official/", target="_blank")
					li.contacts__social_item--01.social__item
						a.social__link.social__link--rounded.social__link--behance--black(href="https://www.behance.net/uimarket", target="_blank")
	.contacts__map_box--01
		.contacts__map.js-map(data-zoom="14", data-center-lat="40.7306149", data-center-lng="-73.9897637", data-pin-lat="40.7306149", data-pin-lng="-73.9897637")
// == END OF contacts 01 ==