// == START OF contacts 04 ==
.contacts.contacts--04
	.container.contacts__container--04
		.row
			.col-xs-12.col-md-7.contacts_info_column--04
				.contacts__info--04
					h2.contacts__title.contacts__title--04
						| Contacts
					.contacts__content--04
						.contacts__item
							span.contacts__item_text.contacts__item_text--04
								| 91 Rue du Faubourg
								br
								| Saint-Honore, 75008
								br
								| Paris, France
						.contacts__item
							a.contacts__item_text.contacts__item_text--04(href="mailto:hello@ui-market.com", target="_blank")
								| hello@ui-market.com
							br
							span.contacts__item_text.contacts__item_text--04
								| +33 (0)1 75 67 04 24
				ul.social.contacts__social--04
					li.contacts__social_item--04.social__item
						a.social__link.social__link--twitter(href="https://twitter.com/ui_market", target="_blank")
					li.contacts__social_item--04.social__item
						a.social__link.social__link--facebook(href="https://www.facebook.com/uimarket.official/", target="_blank")
					li.contacts__social_item--04.social__item
						a.social__link.social__link--behance(href="https://www.behance.net/uimarket", target="_blank")
			.col-xs-12.col-md-5.contacts__map_box--04
				.contacts__map.js-map(data-zoom="14", data-center-lat="40.7306149", data-center-lng="-73.9897637", data-pin-lat="40.7306149", data-pin-lng="-73.9897637")
// == END OF contacts 04 ==