// == START OF MENU 01 (large desktop header--01 is hidden on mobiles (iPhone, iPad, etc) and this one is to be opened on burger tap) ==
nav.menu.menu--01.js-menu(data-menu-index="01")
	.menu__container
		button.menu__closer.js-close-menu(type="button")
			| close
		.menu__box
			ul.menu__list
				li.menu__item
					a.menu__link(href="#")
						| About
				li.menu__item
					a.menu__link(href="#")
						| Team
				li.menu__item
					a.menu__link(href="#")
						| Pricing
				li.menu__item
					a.menu__link(href="#")
						| Press
				li.menu__item
					a.menu__link(href="#")
						| Contact
			ul.social
				li.social__item.social__item--left_margin
					a.social__link.social__link--twitter(href="#", title="Say hello in Twitter!")
				li.social__item.social__item--left_margin
					a.social__link.social__link--facebook(href="#", title="Say hello in Facebook!")
				li.social__item.social__item--left_margin
					a.social__link.social__link--g_plus(href="#", title="Say hello in G+!")
// == END OF MENU 01 (large desktop header--01 is hidden on mobiles (iPhone, iPad, etc) and this one is to be opened on burger tap) ==