// == START OF DESKTOP MENU 02 (this menu is opened on burger tap: both in desktops and in mobiles) ==
nav.menu.menu--02--desktop.js-menu(data-menu-index="02--desktop", style="background-color: #242526")
	include ../headers/17
	.menu__container--02--desktop
			ul.menu__list--02--desktop
				li.menu__item--02--desktop
					a.menu__link--02--desktop(href="#")
						| About
				li.menu__item--02--desktop
					a.menu__link--02--desktop(href="#")
						| Products
				li.menu__item--02--desktop
					a.menu__link--02--desktop(href="#")
						| Designers
				li.menu__item--02--desktop
					a.menu__link--02--desktop(href="#")
						| News
				li.menu__item--02--desktop
					a.menu__link--02--desktop(href="#")
						| Store
				li.menu__item--02--desktop
					a.menu__link--02--desktop(href="#")
						| Collections
				li.menu__item--02--desktop
					a.menu__link--02--desktop(href="#")
						| Contact
	.container.menu__footer--02--desktop
		.menu__footer.menu__footer--02--desktop
			.menu__footer_left_box--02--desktop
				span.menu__footer_text--02--desktop
					| Made by UI MARKET
			.menu__footer_right_box--02--desktop
				ul.social.menu__footer_social--02--desktop
					li.social__item.social__item--left_margin
						a.social__link.social__link--twitter(href="#", title="Say hello in Twitter!")
					li.social__item.social__item--left_margin
						a.social__link.social__link--facebook(href="#", title="Say hello in Facebook!")
					li.social__item.social__item--left_margin
						a.social__link.social__link--g_plus(href="#", title="Say hello in G+!")
					li.social__item.social__item--left_margin
						a.social__link.social__link--tumblr(href="#", title="Say hello in Tumblr!")
// == END OF DESKTOP MENU 02 (this menu is opened on burger tap: both in desktops and in mobiles) ==