// == START OF MENU 03 (large desktop header--03 is hidden on mobiles (iPhone, iPad, etc) and this one is to be opened on burger tap) ==
nav.menu.menu--03.js-menu(data-menu-index="03")
	.menu__container
		button.menu__closer.js-close-menu(type="button")
			| close
		.menu__box
			ul.menu__list
				li.menu__item
					a.menu__link(href="#")
						| About
				li.menu__item
					a.menu__link(href="#")
						| Team
				li.menu__item
					a.menu__link(href="#")
						| Pricing
				li.menu__item
					a.menu__link(href="#")
						| Press
				li.menu__item
					a.menu__link(href="#")
						| Contact
			a.button.button--border-white(href="#")
				| sign in
// == END OF MENU 03 (large desktop header--03 is hidden on mobiles (iPhone, iPad, etc) and this one is to be opened on burger tap) ==