// == START OF MENU 05 (large desktop header--05 is hidden on mobiles (iPhone, iPad, etc) and this one is to be opened on burger tap) ==
nav.menu.menu--05.js-menu(data-menu-index="05")
	.menu__container
		button.menu__closer.js-close-menu(type="button")
			| close
		.menu__box
			ul.menu__list
				li.menu__item
					a.menu__link(href="#")
						| About
				li.menu__item
					a.menu__link(href="#")
						| Team
				li.menu__item
					a.menu__link(href="#")
						| Pricing
				li.menu__item
					a.menu__link(href="#")
						| Press
				li.menu__item
					a.menu__link(href="#")
						| Contact
// == END OF MENU 05 (large desktop header--05 is hidden on mobiles (iPhone, iPad, etc) and this one is to be opened on burger tap) ==