// == START OF HEADER 01 ==
nav.header.header--01
	.container.header__container
		.header__left_box
			a.header__logo_box(href="#", title="Home")
				img.header__logo_img(src="img/etc/logo--circle--white.svg", alt="Phoenix UI kit logo")
		.header__center_box
			ul.header__menu_list.header__item--desktop
				li.header__menu_item
					a.header__menu_link.header__menu_link--white(href="#")
						| about
				li.header__menu_item
					a.header__menu_link.header__menu_link--white(href="#")
						| tour
				li.header__menu_item
					a.header__menu_link.header__menu_link--white(href="#")
						| pricing
				li.header__menu_item
					a.header__menu_link.header__menu_link--white(href="#")
						| blog
				li.header__menu_item
					a.header__menu_link.header__menu_link--white(href="#")
						| contact
		.header__right_box
			ul.social.header__item--desktop
				li.social__item.social__item--left_margin
					a.social__link.social__link--twitter(href="#", title="Say hello in Twitter!")
				li.social__item.social__item--left_margin
					a.social__link.social__link--facebook(href="#", title="Say hello in Facebook!")
				li.social__item.social__item--left_margin
					a.social__link.social__link--g_plus(href="#", title="Say hello in G+!")
			button.header__burger_button.js-open-menu.header__item--mobile(type="button", data-menu-index="01")
// == END OF HEADER 01 ==