// == START OF HEADER 02 ==
nav.header.header--02
	.container.header__container
		.header__left_box
			a.header__logo_box(href="#", title="Home")
				img.header__logo_img(src="img/etc/logo--circle--black.svg", alt="Phoenix UI kit logo")
			a.header__logo_text.header__logo_text--black(href="#", title="Home")
				| Phoenix
		.header__right_box
			button.header__burger_button.header__burger_button--black.js-open-menu(type="button", data-menu-index="02--desktop")
// == END OF HEADER 02 ==