// == START OF HEADER 04 ==
nav.header.header--04
	.container.header__container
		.header__left_box
			a.header__logo_box(href="#", title="Home")
				img.header__logo_img(src="img/etc/logo--circle--white.svg", alt="Phoenix UI kit logo")
			a.header__logo_text(href="#", title="Home")
				| Phoenix
		.header__right_box
			button.header__burger_button.js-open-menu(type="button", data-menu-index="01--desktop")
// == END OF HEADER 04 ==