// == START OF HEADER 05 ==
nav.header.header--05
	.container.header__container
		.header__left_box
			a.header__logo_box(href="#", title="Home")
				img.header__logo_img(src="img/etc/logo--circle--white.svg", alt="Phoenix UI kit logo")
		.header__center_box
			ul.header__menu_list.header__item--desktop
				li.header__menu_item
					a.header__menu_link.header__menu_link--white(href="#")
						| about
				li.header__menu_item
					a.header__menu_link.header__menu_link--white(href="#")
						| tour
				li.header__menu_item
					a.header__menu_link.header__menu_link--white(href="#")
						| pricing
				li.header__menu_item
					a.header__menu_link.header__menu_link--white(href="#")
						| blog
				li.header__menu_item
					a.header__menu_link.header__menu_link--white(href="#")
						| contact
		.header__right_box
			button.header__location_dropdown_opener.js-dropdown-opener(data-dropdown-target="location_1", type="button")
				| USA
			.header__location_dropdown.dropdown.js-dropdown(data-dropdown-name="location_1")
				ul.header__location_list.dropdown__list
					li.dropdown__item.header__location_item
						a.dropdown__btn.header__location_btn(href="#")
							span.dropdown__item_text.header__location_item_text
								| USA
					li.dropdown__item
						a.dropdown__btn(href="#")
							span.dropdown__item_text.header__location_item_text
								| France
					li.dropdown__item
						a.dropdown__btn(href="#")
							span.dropdown__item_text.header__location_item_text
								| India
					li.dropdown__item
						a.dropdown__btn(href="#")
							span.dropdown__item_text.header__location_item_text
								| China
					li.dropdown__item
						a.dropdown__btn(href="#")
							span.dropdown__item_text.header__location_item_text
								| Russia
					li.dropdown__item
						a.dropdown__btn(href="#")
							span.dropdown__item_text.header__location_item_text
								| Japan
			button.header__burger_button.js-open-menu.header__item--mobile(type="button", data-menu-index="05")
// == END OF HEADER 05 ==