// == START OF HEADER 06 ==
nav.header.header--06
	.container.header__container
		.header__left_box
			a.header__logo_box(href="#", title="Home")
				img.header__logo_img(src="img/etc/logo--circle--white.svg", alt="Phoenix UI kit logo")
			a.header__logo_text(href="#", title="Home")
				| Phoenix
		.header__right_box
			ul.header__menu_list.header__item--desktop
				li.header__menu_item
					a.header__menu_link.header__menu_link--white(href="#")
						| about
				li.header__menu_item
					a.header__menu_link.header__menu_link--white(href="#")
						| tour
				li.header__menu_item
					a.header__menu_link.header__menu_link--white(href="#")
						| pricing
				li.header__menu_item
					a.header__menu_link.header__menu_link--white(href="#")
						| blog
				li.header__menu_item
					a.header__menu_link.header__menu_link--white(href="#")
						| contact
			button.header__burger_button.js-open-menu.header__item--mobile(type="button", data-menu-index="06")
// == END OF HEADER 06 ==