// == START OF HEADER 07 ==
nav.header.header--07
	.container.header__container
		.header__left_box
			a.header__logo_box(href="#", title="Home")
				img.header__logo_img(src="img/etc/logo--circle--black.svg", alt="Phoenix UI kit logo")
		.header__center_box
			ul.header__menu_list.header__item--desktop
				li.header__menu_item
					a.header__menu_link(href="#")
						| about
				li.header__menu_item
					a.header__menu_link(href="#")
						| tour
				li.header__menu_item
					a.header__menu_link(href="#")
						| pricing
				li.header__menu_item
					a.header__menu_link(href="#")
						| blog
				li.header__menu_item
					a.header__menu_link(href="#")
						| contact
		.header__right_box
			a.button.button--white.button--gray-shadow.header__item--desktop(href="#")
				| sign up
			button.header__burger_button.header__burger_button--black.js-open-menu.header__item--mobile(type="button", data-menu-index="07")
// == END OF HEADER 07 ==