// == START OF HEADER 08 ==
nav.header.header--08
	.container.header__container
		.header__left_box
			a.header__logo_box.header__item--mobile(href="#", title="Home")
				img.header__logo_img(src="img/etc/logo--circle--white.svg", alt="Phoenix UI kit logo")
			a.header__logo_text.header__item--mobile(href="#", title="Home")
				| Phoenix
			ul.header__menu_list.header__item--desktop
				li.header__menu_item
					a.header__menu_link.header__menu_link--white(href="#")
						| about
				li.header__menu_item
					a.header__menu_link.header__menu_link--white(href="#")
						| tour
				li.header__menu_item
					a.header__menu_link.header__menu_link--white(href="#")
						| pricing
				li.header__menu_item
					a.header__menu_link.header__menu_link--white(href="#")
						| blog
				li.header__menu_item
					a.header__menu_link.header__menu_link--white(href="#")
						| contact
		.header__center_box
			a.header__logo_box(href="#", title="Home").header__item--desktop
				img.header__logo_img(src="img/etc/logo--circle--white.svg", alt="Phoenix UI kit logo")
			a.header__logo_text(href="#", title="Home").header__item--desktop
				| Phoenix
		.header__right_box
			a.header__link.header__item--desktop(href="#")
				| sign up
			a.button.button--small.button--border-white.button--border-fat.header__item--desktop(href="#")
				| sign in
			button.header__burger_button.js-open-menu.header__item--mobile(type="button", data-menu-index="08")
// == END OF HEADER 08 ==