// == START OF HEADER 10 ==
nav.header.header--10
	.container.header__container
		.header__left_box
			button.header__location_dropdown_opener.header__location_dropdown_opener--right-arrow.header__location_dropdown_opener--black.js-dropdown-opener(data-dropdown-target="location_2", type="button")
				| USA
			.header__location_dropdown.dropdown.dropdown--border-black.js-dropdown(data-dropdown-name="location_2")
				ul.header__location_list.dropdown__list
					li.dropdown__item.header__location_item
						a.dropdown__btn.header__location_btn(href="#")
							span.dropdown__item_text.header__location_item_text
								| USA
					li.dropdown__item
						a.dropdown__btn(href="#")
							span.dropdown__item_text.header__location_item_text
								| France
					li.dropdown__item
						a.dropdown__btn(href="#")
							span.dropdown__item_text.header__location_item_text
								| India
					li.dropdown__item
						a.dropdown__btn(href="#")
							span.dropdown__item_text.header__location_item_text
								| China
					li.dropdown__item
						a.dropdown__btn(href="#")
							span.dropdown__item_text.header__location_item_text
								| Russia
					li.dropdown__item
						a.dropdown__btn(href="#")
							span.dropdown__item_text.header__location_item_text
								| Japan
		.header__center_box
		.header__right_box
			button.header__cart_button(type="submit")
// == END OF HEADER 10 ==