// == START OF HEADER 11 ==
nav.header.header--11
	.container.header__container
		.header__left_box
		.header__center_box
			a.header__logo_box(href="#", title="Home")
				img.header__logo_img(src="img/etc/logo--white.svg", alt="Phoenix UI kit logo")
		.header__right_box
// == END OF HEADER 11 ==