// == START OF HEADER 12 ==
//	a special header with a cross button closing the menu
nav.header.header--12
	.container.header__container
		.header__left_box
			a.header__logo_box(href="#", title="Home")
				img.header__logo_img(src="img/etc/logo--circle--white.svg", alt="Phoenix UI kit logo")
			a.header__logo_text(href="#", title="Home")
				| Phoenix
		.header__right_box
			button.header__burger_button.state-opened.js-close-menu(type="button")
// == END OF HEADER 12 ==