// == START OF HEADER 13 ==
nav.header.header--13
	.container.header__container
		.header__left_box
			a.header__logo_box(href="index.html", title="Home")
				img.header__logo_img(src="img/etc/logo--circle--black.svg", alt="Phoenix UI kit logo")
		.header__right_box
			ul.header__menu_list.header__item--desktop
				li.header__menu_item
					a.header__menu_link(href="#how")
						| how it works?
				li.header__menu_item
					a.header__menu_link(href="#price")
						| pricing
				li.header__menu_item
					a.header__menu_link(href="#contact")
						| contact
// == END OF HEADER 13 ==
