// == START OF HEADER 15 ==
nav.header.header--15
	.container.header__container
		.header__left_box
			button.header__burger_button.js-open-menu(type="button", data-menu-index="01--desktop")
		.header__center_box
			a.header__logo_box(href="#", title="Home")
				img.header__logo_img(src="img/etc/logo--circle--white.svg", alt="Phoenix UI kit logo")
			a.header__logo_text.header__item--desktop(href="#", title="Home")
				| Phoenix
		.header__right_box
			form.header__search_form(action="", method="POST")
				input.header__search_input.input.input--black.input--small(type="search", placeholder="Search", required)
				button.header__search_button(type="submit")
// == END OF HEADER 15 ==