// == START OF HEADER 16 ==
nav.header.header--16
	.container.header__container
		.header__left_box
			a.header__logo_box(href="#", title="Home")
				img.header__logo_img(src="img/etc/logo--circle--white.svg", alt="Phoenix UI kit logo")
		.header__right_box
			button.header__burger_button.js-open-menu(type="button", data-menu-index="02--desktop")
// == END OF HEADER 16 ==