// == START OF HEADER 17 ==
nav.header.header--17
	.container.header__container
		.header__left_box
			a.header__logo_box(href="#", title="Home")
				img.header__logo_img(src="img/etc/logo--circle--white.svg", alt="Phoenix UI kit logo")
			a.header__logo_text(href="#", title="Home")
				| Phoenix
		.header__right_box
			button.header__burger_button.js-close-menu.state-opened(type="button")
// == END OF HEADER 17 ==