// == START OF PRICES 01 ==
.prices.prices--01
	.container-fluid.prices_container--01(id="price")
		.prices__text_box--01
			h2.prices__title
				| Choose your perfect plan
			span.prices__description.prices__description--01
				| We have carefully crafted two plans for your promotion needs. Pick the one that works best for you.
			span.prices__offer_text--01
				| Do you need in special offer?
			a.prices__offer_link--01(href="#")
				| Write to us
		.prices__items_box.prices__items_box--01
			.prices__item.prices__item--01.prices__item--accent--01
				h2.prices__item__title--01
					| Single
				span.prices__item__price--01
					| $ 99
				span.prices__item__price_info--01
					| Best for One Time Promotions
				ul.prices__item__features_list.prices__item__features_list--01
					li.prices__item__features_list__item
						| 1 Brandfie
					li.prices__item__features_list__item
						| 🚀 Fast
					li.prices__item__features_list__item
						| Delivered within 24 hours
				a.button.brandcolor_btn.button--blue.button--blue-shadow(href="#")
					| get started
			.prices__item.prices__item--01
				h2.prices__item__title--01
					| Pro
				span.prices__item__price--01
					| $ 149
				span.prices__item__price_info--01
					| Best for Longer Promotions
				ul.prices__item__features_list.prices__item__features_list--01
					li.prices__item__features_list__item
						| 2 different Brandfies
					li.prices__item__features_list__item
						|  or Changes to the same Brandfie
					li.prices__item__features_list__item
						| Delivered in 48 hours
				a.button.button--white.button--gray-shadow(href="#")
					| get started
// == END OF PRICES 01 ==
