// == START OF PRICES 01 ==
.prices.prices--01
	.container-fluid.prices_container--01
		.prices__text_box--01
			h2.prices__title
				| Choose your perfect plan
			span.prices__description.prices__description--01
				| You were put on this earth to achieve your greatest self, to live out your purpose, and to do it courageously and very simple.
			span.prices__offer_text--01
				| Do you need in special offer?
			a.prices__offer_link--01(href="#")
				| Write to us
		.prices__items_box.prices__items_box--01
			.prices__item.prices__item--01.prices__item--accent--01
				h2.prices__item__title--01
					| Starter
				span.prices__item__price--01
					| free
				span.prices__item__price_info--01
					| Build your schedule every day
				ul.prices__item__features_list.prices__item__features_list--01
					li.prices__item__features_list__item
						| Unlimited notes
					li.prices__item__features_list__item
						| Social activity analytics
				a.button.button--blue.button--blue-shadow(href="#")
					| get started
			.prices__item.prices__item--01
				h2.prices__item__title--01
					| Pro
				span.prices__item__price--01
					| $ 9.99
				span.prices__item__price_info--01
					| Make your life better
				ul.prices__item__features_list.prices__item__features_list--01
					li.prices__item__features_list__item
						| Unlimited notes
					li.prices__item__features_list__item
						| Social activity analytics
					li.prices__item__features_list__item
						| Customer care
				a.button.button--white.button--gray-shadow(href="#")
					| try now
// == END OF PRICES 01 ==