// == START OF PRICES 02 ==
.prices.prices--02
	.container-fluid
		.prices__title_box
			h2.prices__title
				| Choose your perfect plan
			span.prices__description
				| Everyone that enters through Him is always safe and the person shall find pastures for himself.
		.prices__items_box
			.prices__item.prices__item--02
				h3.prices__item__title
					| basic
				span.prices__item__price
					| $ 10
				span.prices__item__price_info
					| per month
				ul.prices__item__features_list
					li.prices__item__features_list__item
						| 10 GB Disk Space
					li.prices__item__features_list__item
						| 5 Sub Domains
					li.prices__item__features_list__item
						| 5 Databases
					li.prices__item__features_list__item
						| 5 Users
				a.button.button--white.button--gray-shadow(href="#")
					| get started
			.prices__item.prices__item--02.prices__item--accent--02
				h3.prices__item__title
					| medium
				span.prices__item__price
					| $ 19
				span.prices__item__price_info
					| per month
				ul.prices__item__features_list
					li.prices__item__features_list__item
						| 100 GB Disk Space
					li.prices__item__features_list__item
						| 15 Sub Domains
					li.prices__item__features_list__item
						| 15 Databases
					li.prices__item__features_list__item
						| 20 Users
				a.button.button--blue.button--blue-shadow(href="#")
					| get started
			.prices__item.prices__item--02
				h3.prices__item__title
					| enterprise
				span.prices__item__price
					| $ 39
				span.prices__item__price_info
					| per month
				ul.prices__item__features_list
					li.prices__item__features_list__item
						| 500 GB Disk Space
					li.prices__item__features_list__item
						| 25 Sub Domains
					li.prices__item__features_list__item
						| 25 Databases
					li.prices__item__features_list__item
						| Unlimited Users
				a.button.button--white.button--gray-shadow(href="#")
					| get started
// == END OF PRICES 02 ==