// == START OF PRICES 03 ==
.prices.prices--03
	.container-fluid
		.prices__title_box
			h2.prices__title.prices__title--white
				| Choose license type
			span.prices__description.prices__description-white
				| Motivating others leads to success whereas inspiring others leads to the most grand greatness.
		.prices__items_box
			.prices__item.prices__item--03
				h3.prices__item__title
					| basic
				span.prices__item__price
					| $ 10
				span.prices__item__price_info
					| per month
				ul.prices__item__features_list
					li.prices__item__features_list__item
						| 10 GB Disk Space
					li.prices__item__features_list__item
						| 5 Sub Domains
					li.prices__item__features_list__item
						| 5 Databases
					li.prices__item__features_list__item
						| 5 Users
				a.button.button--border-fat.button--border-blue(href="#")
					| get started
			.prices__item.prices__item--03.prices__item--accent--03
				h3.prices__item__title.prices__item__title--white
					| classic
				span.prices__item__price.prices__item__price--white
					| $ 19
				span.prices__item__price_info.prices__item__price_info--white
					| per month
				ul.prices__item__features_list
					li.prices__item__features_list__item.prices__item__features_list__item--white.prices__item__features_list__item--gray-tick
						| 100 GB Disk Space
					li.prices__item__features_list__item.prices__item__features_list__item--white.prices__item__features_list__item--gray-tick
						| 15 Sub Domains
					li.prices__item__features_list__item.prices__item__features_list__item--white.prices__item__features_list__item--gray-tick
						| 15 Databases
					li.prices__item__features_list__item.prices__item__features_list__item--white.prices__item__features_list__item--gray-tick
						| 20 Users
				a.button.button--white.button--black-shadow(href="#")
					| let's start
			.prices__item.prices__item--03
				h3.prices__item__title
					| powerful
				span.prices__item__price
					| $ 39
				span.prices__item__price_info
					| per month
				ul.prices__item__features_list
					li.prices__item__features_list__item
						| 500 GB Disk Space
					li.prices__item__features_list__item
						| 25 Sub Domains
					li.prices__item__features_list__item
						| 25 Databases
					li.prices__item__features_list__item
						| Unlimited Users
				a.button.button--border-fat.button--border-blue(href="#")
					| get started
			.prices__item.prices__item--03
				h3.prices__item__title
					| epic
				span.prices__item__price
					| $ 89
				span.prices__item__price_info
					| per month
				ul.prices__item__features_list
					li.prices__item__features_list__item
						| 2000 GB Disk Space
					li.prices__item__features_list__item
						| 90 Sub Domains
					li.prices__item__features_list__item
						| Unlimited Databases
					li.prices__item__features_list__item
						| Unlimited Users
				a.button.button--border-fat.button--border-blue(href="#")
					| get started
// == END OF PRICES 03 ==