// == START OF ABOUT 01 ==
.about.about--01(style="background-image: url(img/bg/bg--soft-chair.jpg)")
	.container
		.row.about__row
			.col-xs-12
				.about_content_box
					h2.about__title
						| Awesome features
					span.about__text
						| Suddenly summoned to witness something great and horrendous, we still keep fighting not to reduce it to our own smallness.
					a.button.button--blue.button--blue-shadow(href="#")
						| try now
// == END OF ABOUT 01 ==