// == START OF ABOUT 02 ==
.about.about--02(style="background-image: url(img/bg/bg--keyboard-machine.jpg)")
	.container.about_content_box--02
		h2.about__title
			| Create awesome web projects
			| for free
		span.about__text.about__text--02
			| Greatness is a property for which no man can receive credit too soon; it must be possessed long before it is acknowledged. The choice is always yours.
// == END OF ABOUT 02 ==