// == START OF ABOUT 03 ==
.about.about--03(style="background-image: url(img/bg/bg--city-lights.jpg)")
	.container
		.row.about__row.about_row--03
			.col-xs-12
				.about_content_box.about_content_box--03
					h2.about__title
						| Modern technologies
					span.about__text
						| Our UI/UX researches helped to figure out that the perfect way to charm audience is to keep things clean and simple as much as possible.
					a.button.button--blue.button--blue-shadow(href="#")
						| try NOW
// == END OF ABOUT 03 ==