// == START OF ABOUT 04 ==
.about.about--04(style="background-image: url(img/bg/bg--xiro.jpg)")
	.container.about_content_box--04
		h2.about__title
			| Xiro Xplorer
		span.about__text.about__text--04
			| XIRO XPLORER V is the newest platform for amateur and professional aerial photography. Modular design, Full HD video, complete automation of the flight!
// == END OF ABOUT 04 ==