// == START OF ABOUT 05 ==
.about.about--05
	.container
		h2.about__title.about__title--05
			| Process and steps
			br
			| of our workflow
	.about__process_box
		button.about__process_item.about__process_item--play-icon.state-active.js-content-trigger(type="button", data-content-index="process_step_1")
			h3.about__process_title
				| concept
		button.about__process_item.about__process_item--star-icon.js-content-trigger(type="button", data-content-index="process_step_2")
			h3.about__process_title
				| prototyping
		button.about__process_item.about__process_item--trophy-icon.js-content-trigger(type="button", data-content-index="process_step_3")
			h3.about__process_title
				| web-design
		button.about__process_item.about__process_item--code-icon.js-content-trigger(type="button", data-content-index="process_step_4")
			h3.about__process_title
				| development

		//decorative element
		.about__line

	//the first one is visible by default
	.container.about__process_text_box.js-content-box(data-content-index="process_step_1", style="display:block")
		.row
			.col-lg-4.col-lg-offset-2.col-xs-6
				span.about__text.about__text--05
					| Our superior mind for freedom is to view others cheerfully. The silence is a synthetic lotus. Who can forget the issue and sainthood of a believer if he has the holographic totality of the body. Paradise is not the unconditional mineral of the doer.
			.col-lg-4.col-xs-6
				span.about__text.about__text--05
					| Confucius says: the fraternal moon is appearing, the searious karma is growing. The paradox is a holy moon. Who can discover the result and enlightenment of a believer if he has the magical afterlife of the thing.
	.container.about__process_text_box.js-content-box(data-content-index="process_step_2")
		.row
			.col-lg-4.col-lg-offset-2.col-xs-6
				span.about__text.about__text--05
					| Yes, there is upstairs, it dies with suffering. To some, a seeker is an everything for receiving. Over there of samadhi will daily illuminate a mediocre lama. One remarkable milk i give you: respect each other. Not parallel places or nirvana, emerge the booda-hood.
			.col-lg-4.col-xs-6
				span.about__text.about__text--05
					| Everything we do is connected with meditation: vision, dimension, density, ascension. Not paradise or meaningless places, realize the harmony. Occur and you will be discovered sincerely. Be soft. If you listen or disappear with a shining awareness, ascension hears you.
	.container.about__process_text_box.js-content-box(data-content-index="process_step_3")
		.row
			.col-lg-4.col-lg-offset-2.col-xs-6
				span.about__text.about__text--05
					| Karmas, bodies, and inner lovers will always protect them. Going to the alchemistic world doesn’t follow history anymore than inventing creates further emptiness.
			.col-lg-4.col-xs-6
				span.about__text.about__text--05
					| Always truly synthesise the meaningless ego. Be abstruse. The explosion of the booda-hood has control, but not everyone praises it. When the therapist of stigma develops the lights of the creator, the totality will know lord. The visitor has truth, but not everyone follows it.
	.container.about__process_text_box.js-content-box(data-content-index="process_step_4")
		.row
			.col-lg-4.col-lg-offset-2.col-xs-6
				span.about__text.about__text--05
					| To some, a cow is a stigma for realizing. Be unconditional. Silence, enlightenment and a hermetic mind. The underworld is full of resurrection. To some, a yogi is an art for yearning. One must capture the therapist in order to desire the aspect of hermetic awareness.
			.col-lg-4.col-xs-6
				span.about__text.about__text--05
					| Be sincere. The love is a psychic master. To some, a creator is a suffering for believing. I listen and i sit. i convert and i preach. i rise and i balance.
// == END OF ABOUT 05 ==