// == START OF ABOUT 06 ==
.about.about--06(style="background-image: url(img/bg/bg--backgrounded-macbook.jpg)")
	.container.about__container--06
		.about__title_box--06
			h2.about__title.about__title--06
				| The new generation
				br
				| UI kit for professionals
			span.about__description--06
				| Simplicity is the keynote of all true elegance. A great man is always willing to be very little.
		.row.about__row--06
			.col-md-6.col-lg-3.about__feature_item--06
				.about__item_icon--06.about__feature_icon--heart-icon--blue
				h3.about__feature_item_title--06
					| flexible code
				span.about__item_text--06
					| You are not permitted to live and die as a non-entity because you have encountered the greatness that is associated with Christ.
				a.about__item_link(href="#")
					| learn more
			.col-md-6.col-lg-3.about__feature_item--06
				.about__item_icon--06.about__feature_icon--zip-icon--blue
				h3.about__feature_item_title--06
					| easy grid
				span.about__item_text--06
					| The male orientation of classical Athens was inseparable from genius. Athens were great despite but because of its men.
				a.about__item_link(href="#")
					| learn more
// == END OF ABOUT 06 ==