// == START OF ABOUT 07 ==
.about.about--07
	.container
		h2.about__title.about__title--07
			| About
		.about__container--07(style="background-image: url(img/bg/bg--bright-room.jpg)")
			.about__content--07
				.about__content__top_row--07
					h3.about__subtitle--07.about__main_subtitle--07
						| history
					span.about__main_info--07
						| Phoenix is available on the iPhone, Android and the Windows Phone. With hectic schedules and long to do lists, managing the day to day for your family can feel like a full time job. Phoenix's here to help! Whether you're making dinner plans, coordinating carpools.
				.about__content__bottom_row--07
					.about__feature--07.about__feature_icon--trophy-icon--blue
						h3.about__subtitle--07
							| Peace of Mind
						span.about__main_info--07
							| Part location, part communication, all awesome. Phoenix keeps millions of families and close friends connected, no matter what chaos life throws their way.
					.about__feature--07.about__feature_icon--copy-icon--blue
						h3.about__subtitle--07
							| CROSS PLATFORM
						span.about__main_info--07
							| With Phoenix, just open the app and instantly see everyone in your private Circle on the map.
// == END OF ABOUT 07 ==