// == START OF ABOUT 08 ==
.about.about--08(style="background-image: url(img/bg/bg--black-watches.jpg)")
	.container.about_content_box--08
		h2.about__title
			| Monochrome Black
		span.about__text.about__text--08
			| Inspired by the classic circle shape, with characteristic flat lense and thin metal frame.
// == END OF ABOUT 08 ==