// == START OF COVER 01 ==
.cover.cover--01.js-cover
	include ../headers/10
	.cover__content_box--01
		.container
			h2.cover__title--01
				span.cover__title_text--01
					| Simpl Watch
			.cover__description_box--01
				span.cover__description_text--01
					| Simpl's watches all feature numberless dials and premium leather straps, available in monochrome.
		.cover__pic_box--01
			img.cover__pic--01(src="img/bg/bg--golden-watches.jpg")
// == END OF COVER 01 ==