// == START OF COVER 02 ==
.cover.cover--02.js-cover
	include ../headers/02
	.container.cover__container--02
		.cover__pic_box--02
			img.cover__img--02(src="img/pictures/pic--two-iphones--invert.png")
		.cover__text_box--02
			h2.cover__title--02
				span.cover__title_text--02
					| Free updates &&nbsp;
					br
					| life time support
			.cover__description_box--02
				span.cover__description_text--02
					| We are always happy to help you with installing, optimising
					| and promoting your portfolio.
			a.button.button--blue.button--blue-shadow.button--icon-apple(href="#")
				| download
			a.cover__link--02(href="#")
				| learn more
// == END OF COVER 02 ==