// == START OF COVER 03 ==
.cover.cover--03
	include ../headers/03
	.container
		.cover__content_box.cover__content_box--03
			h2.cover__title.cover__title--03
				span.cover__title_text.cover__title_text--03
					| Your most&#8287;
					span.cover__title_text__accent_word
						| exciting&#8287;
					| journey&#8287;
					br
					| begins&#8287;
					span.cover__title_text__accent_word
						| here&#8287;
			.cover__description_box--03
				span.cover__description_text--03
					| Subscribe and download a bundle
					| of perfect products for free
			.cover__button_box--03
				a.cover__button--03.button.button--arrow-down.js-scroll-fullscreen(href="#")
// == END OF COVER 03 ==