// == START OF COVER 04 ==
.cover__slider.js-cover
	include ../headers/01
	.container.cover__slider__arrows_box
		button.cover__slider__arrow.cover__slider__arrow--left.js-slider-prev-arrow(type="button")
		button.cover__slider__arrow.cover__slider__arrow--right.js-slider-next-arrow(type="button")
	.cover__slider__content_box.js-slider(data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "fade": true, "prevArrow" : ".js-slider-prev-arrow", "nextArrow": ".js-slider-next-arrow"}')
		.cover.cover--04(style="background-image: url(img/bg/bg--night_track.jpg)")
			.container.cover__container--04
				.cover__content_box--04
					h2.cover__title--04
						span.cover__title_text--04
							| A brand new way to excite&nbsp;
							br
							| your audience
					.cover__description_box--04
						span.cover__description_text--04
							| Who can visualize the sorrow and mineral of a lord if he has the evil sainthood of the seeker.
		.cover.cover--04(style="background-image: url(https://images.unsplash.com/photo-1437532437759-a0ce0535dfed?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=2c277dc10ba53e29a62d09c13cdf01b9)")
			.container.cover__container--04
				.cover__content_box--04
					h2.cover__title--04
						span.cover__title_text--04
							| A meaningless form of vision is the uniqueness!
// == END OF COVER 04 ==