// == START OF COVER 05 ==
.cover.cover--05.js-cover(style="background-image: url(img/bg/bg--night-city.jpg)")
	include ../headers/04
	.container
		.cover__content_box.cover__content_box--05
			h2.cover__title.cover__title--05
				span.cover__title_text.cover__title_text--05
					| Creating&#8287;
					span.cover__title_text__accent_word
						| wonderful&#8287;
					| things&#8287;
					br
					| is a&#8287;
					span.cover__title_text__accent_word
						| breeze&#8287;
					| from now
			.cover__description_box--05
				span.cover__description_text--05
					| Who can know the joy and pain of a power if he has the hermetic attitude of the saint.

			form#mc-embedded-subscribe-form.cover__form--05.validate.js-subscribe-form(action='//ui-market.us13.list-manage.com/subscribe/post-json?u=c753049c0b6c0ccd061d10786&id=e574a9d387&c=?', method='post', name='mc-embedded-subscribe-form', novalidate='')
				#mc_embed_signup_scroll
					div
						.mc-field-group
							input#mce-NAME.cover__form__item--05.input.input--light.name(type='text', required, placeholder='Your name', value='', name='NAME')
							input#mce-EMAIL.cover__form__item--05.input.input--light.email(type='email', required, placeholder='Your email', value='', name='EMAIL')
						#mce-responses.clear
							#mce-error-response.response(style='display:none')
							#mce-success-response.response(style='display:none')
						// real people should not fill this in and expect good things - do not remove this or risk form bot signups
						div(style='position: absolute; left: -5000px;', aria-hidden='true')
							input(type='text', name='b_c753049c0b6c0ccd061d10786_e574a9d387', tabindex='-1', value='')
					.clear
						input#mc-embedded-subscribe.cover__form__item--05.button.button--blue.button--small-radius.js-submit-button(type='submit', value='be first', name='subscribe')
						.js-error-message.call_to_action__message.call_to_action__message--red
							| Sorry, internal error.
						.js-success-message.call_to_action__message.call_to_action__message--green
							| Thanks! Please click the link in the email we've just sent you.
// == END OF COVER 05 ==