// == START OF COVER 06 ==
.cover__slider.js-cover
	include ../headers/05
	.cover__slider__content_box.js-slider(data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "fade": true, "arrows": false, "dots": true, "dotsClass": "cover__slider__dots"}')
		.cover.cover--06(style="background-image: url(img/bg/bg--ride.jpg)")
			.container.cover__container--06
				.cover__pic_box--06
					img.cover__img--06(src="img/pictures/pic--app-mockup-7-tasks.png")
				.cover__text_box--06
					h2.cover__title--06
						span.cover__title_text--06
							| Tap the app,
							br
							| get a ride
					.cover__description_box--06
						span.cover__description_text--06
							| Who can respect the sex and relativity of a sun if he has the alchemistic uniqueness of the sinner.
					a.button.button--border-white.button--icon-apple(href="#")
						| download
			.cover__footer.cover__footer--06
				.cover__footer_right_box
					ul.social.cover__footer_social
						li.social__item.social__item--left_margin
							a.social__link.social__link--twitter(href="#", title="Say hello in Twitter!")
						li.social__item.social__item--left_margin
							a.social__link.social__link--facebook(href="#", title="Say hello in Facebook!")
						li.social__item.social__item--left_margin
							a.social__link.social__link--g_plus(href="#", title="Say hello in G+!")
		.cover.cover--06(style="background-image: url(https://images.unsplash.com/reserve/oY3ayprWQlewtG7N4OXl_DSC_5225-2.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=37be07cba5dc683a0b13cf14ae1e5724)")
			.container.cover__container--06
				.cover__pic_box--06
					img.cover__img--06(src="img/pictures/pic--app-mockup-7-tasks.png")
				.cover__text_box--06
					h2.cover__title--06
						span.cover__title_text--06
							| Mineral follows you
					.cover__description_box--06
						span.cover__description_text--06
							| Who can respect the sex and relativity of a sun if he has the alchemistic uniqueness of the sinner.
					a.button.button--border-white.button--icon-apple(href="#")
						| download
			.cover__footer.cover__footer--06
				.cover__footer_right_box
					ul.social.cover__footer_social
						li.social__item.social__item--left_margin
							a.social__link.social__link--twitter(href="#", title="Say hello in Twitter!")
						li.social__item.social__item--left_margin
							a.social__link.social__link--facebook(href="#", title="Say hello in Facebook!")
						li.social__item.social__item--left_margin
							a.social__link.social__link--g_plus(href="#", title="Say hello in G+!")
// == END OF COVER 06 ==