// == START OF COVER 07 ==
.cover.cover--07.js-cover(style="background-image: url(img/bg/bg--blue-mag.jpg)")
	include ../headers/11
	.cover__content_box--07
		.cover__description_box--07
			span.cover__description_text--07
				| We design&#8287;
				span.cover__title_text__accent_word
					| identity&#8287;
				| systems,&#8287;
				br
				| digital&#8287;
				span.cover__title_text__accent_word
					| platforms&#8287;
				| and brand&#8287;
				span.cover__title_text__accent_word
					| campaigns&#8287;
				| that&#8287;
				br
				| engage today’s consumer.
	.cover__social_box--07
		ul.social
			li.social__item.social__item--equal_margin
				a.social__link.social__link--twitter(href="#", title="Say hello in Twitter!")
			li.social__item.social__item--equal_margin
				a.social__link.social__link--facebook(href="#", title="Say hello in Facebook!")
			li.social__item.social__item--equal_margin
				a.social__link.social__link--g_plus(href="#", title="Say hello in G+!")
			li.social__item.social__item--equal_margin
				a.social__link.social__link--tumblr(href="#", title="Say hello in Tumblr!")
			li.social__item.social__item--equal_margin
				a.social__link.social__link--pinterest(href="#", title="Say hello in Pinterest!")
			li.social__item.social__item--equal_margin
				a.social__link.social__link--linkedin(href="#", title="Say hello in LinkedIn!")
// == END OF COVER 07 ==