// == START OF COVER 08 ==
.cover.cover--08.js-cover(style="background-image: url(img/bg/bg--blue-mountains.jpg)")
	include ../headers/06
	.container
		.cover__content_box.cover__content_box--08
			h2.cover__title.cover__title--08
				span.cover__title_text.cover__title_text--08
					| Discover a new World
			.cover__description_box--08
				span.cover__description_text--08
					| You were put on this earth to achieve your greatest self, to live out your purpose, and to do it courageously and simple.
			button.button--play-icon.cover__video_button_box--08.js-open-popup(type="button", data-popup-target="video")
				img.cover__video_button_img--08(src="img/pictures/pic--snow-mountain.png")
			a.button.button--dark-shadow.button--blue(href="#")
				| take a tour
// == END OF COVER 08 ==