// == START OF COVER 09 ==
.cover.cover--09.js-cover(style="background-image: url(img/bg/bg--startup_guy.jpg)")
	include ../headers/16
	.container
		.cover__content_box.cover__content_box--09
			h2.cover__title.cover__title--09
				span.cover__title_text.cover__title_text--09
					| Simple yet powerful
			.cover__description_box--09
				span.cover__description_text--09
					| Who can view the attitude and shame of a follower if he has the psychic love of the cow.
			.cover__button_box--09
				a.cover__button--09.button.button--blue.button--blue-shadow.button--round.button--arrow-down.js-scroll-fullscreen(href="#")
// == END OF COVER 09 ==