// == START OF COVER 10 ==
.cover.cover--10
	include ../headers/07
	.container
		.cover__content_box
			h2.cover__title.cover__title--10
				span.cover__title_text.cover__title_text--10
					| Start Your Imaginations
			.cover__image_box--10
				.cover__button_box--10
					button.cover__button--10.button.button--blue.button--blue-shadow.button--round.button--play-icon.js-open-popup(data-popup-target="video", type="button")
				img.cover__image(src="img/pictures/pic--keyboard-image.png")
		.cover__features_box
			.row
				.col-xs-12.col-md-6.col-lg-3.cover__features__item--10
					h3.cover__feature_title
						| Ready to use
					span.cover__feature_text
						| Phoenix works perfect in all modern browsers (Chrome, Safari, Firefox etc).
				.col-xs-12.col-md-6.col-lg-3.cover__features__item--10
					h3.cover__feature_title
						| Clean design
					span.cover__feature_text
						| A combination of the unique layout and material design best practices is what the Phoenix loved for.
				.col-xs-12.col-md-6.col-lg-3.cover__features__item--10
					h3.cover__feature_title
						| bootstrap based
					span.cover__feature_text
						| Most popular 1170px grid and all the Bootstrap components are at your service.
				.col-xs-12.col-md-6.col-lg-3.cover__features__item--10
					h3.cover__feature_title
						| unique icons
					span.cover__feature_text
						| Phoenix is an SVG based instrument, meaning all icons  are sharp and look awesome everywhere.
// == END OF COVER 10 ==