// == START OF COVER 11 ==
.cover.cover--11.js-cover(style="background-image: url(img/bg/bg--skaters--blue-overlay.jpg)")
	include ../headers/08
	.container.cover__container--11
		.cover__pic_box--11
			img.cover__img--11(src="img/pictures/pic--two-iphones.png")
		.cover__text_box--11
			h2.cover__title--11
				span.cover__title_text--11
					| Your time is unique
			.cover__description_box--11
				span.cover__description_text--11
					| We are always happy to help you with installing, optimising
					| and promoting your portfolio. All incoming features and
					| updates are also included in the pack.
			a.button.button--border-white.button--icon-apple(href="#")
				| download
			a.cover__link--11(href="#")
				| learn more
// == END OF COVER 11 ==