// == START OF COVER 12 ==
.cover__slider.js-cover
	include ../headers/01
	.container.cover__slider__arrows_box
		button.cover__slider__arrow.cover__slider__arrow--left.js-slider-prev-arrow(type="button")
		button.cover__slider__arrow.cover__slider__arrow--right.js-slider-next-arrow(type="button")
	.cover__slider__content_box.js-slider(data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "fade": true, "prevArrow" : ".js-slider-prev-arrow", "nextArrow": ".js-slider-next-arrow"}')
		.cover.cover--12(style="background-image: url(img/bg/bg--skaters-bright.jpg)")
			.container
				.cover__content_box--12
					a.cover__tag_button--12.button.button--white.button--extra-small
						| new
					h2.cover__title--12
						span.cover__title_text--12
							| A brand new way to excite&nbsp;
							br
							| your audience
					.cover__description_box--12
						span.cover__description_text--12
							| Who can study the satori and blessing of a monkey if he has the playful milk of the visitor?
					a.button.button--border-white(href="#")
						| read story
		.cover.cover--12(style="background-image: url(https://images.unsplash.com/reserve/JjdWbOCTlemWMuvC0BeF_DSC_0867edit.jpg)")
			.container
				.cover__content_box--12
					a.cover__tag_button--12.button.button--white.button--extra-small
						| nature
					h2.cover__title--12
						span.cover__title_text--12
							| Going to the pit doesn’t gain paradox anymore
					.cover__description_box--12
						span.cover__description_text--12
							| Who can discover the control and sex of a power if he has the boundless courage of the wind?
					a.button.button--border-white(href="#")
						| read story
// == END OF COVER 12 ==