// == START OF COVER 14 ==
.cover.cover--14.js-cover(style="background-image: url(img/bg/bg--carrot-on-table.jpg)")
	include ../headers/16
	.container
		.cover__content_box.cover__content_box--14
			h2.cover__title.cover__title--14
				span.cover__title_text.cover__title_text--14
					| Simple and fresh
			.cover__description_box--14
				span.cover__description_text--14
					| You were put on this earth to achieve your greatest self, to live out your purpose, and to do it courageously and very simple.
			.cover__button_box--14
				a.cover__button--14.button.button--white.button--gray-shadow.button--round.button--arrow-down.js-scroll-fullscreen(href="#")
// == END OF COVER 14 ==