// == START OF COVER 16 ==
.cover.cover--16.js-cover
	include ../headers/06
	.container.cover__container--16
		.cover__pic_box--16
			img.cover__img--16(src="img/pictures/pic--app-mockup-fitness-graph.png")
		.cover__text_box--16
			h2.cover__title--16
				span.cover__title_text--16
					| Make it easy
			.cover__description_box--16
				span.cover__description_text--16
					| Who can visualize the dogma and affirmation of a wind if he has the celestine solitude of the power.
			a.button.button--border-white.button--icon-apple(href="#")
				| download
			a.cover__link--16(href="#")
				| learn more
	.cover__footer.cover__footer--16
		.cover__footer_left_box--16
			a.cover__footer_button--16.button.button--blue.button--blue-shadow.button--extra-small
				| new
			span.cover__footer_text--16
				| Get new revolution UI kit for your startup
// == END OF COVER 16 ==