// == START OF COVER 17 ==
.cover__slider.js-cover
	include ../headers/01
	.container.cover__slider__arrows_box
		button.cover__slider__arrow.cover__slider__arrow--left.js-slider-prev-arrow(type="button")
		button.cover__slider__arrow.cover__slider__arrow--right.js-slider-next-arrow(type="button")
	.cover__slider__content_box.js-slider(data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "fade": true, "prevArrow" : ".js-slider-prev-arrow", "nextArrow": ".js-slider-next-arrow"}')
		.cover.cover--17(style="background-image: url(img/bg/bg--acne-guy.jpg)")
			.container
				.cover__content_box--17
					h2.cover__title--17
						span.cover__title_text--17
							| The New Era of&nbsp;
							br
							| Digital
					a.button.button--border-white(href="#")
						| read story
		.cover.cover--17(style="background-image: url(img/bg/bg--skaters-bright.jpg)")
			.container
				.cover__content_box--17
					h2.cover__title--17
						span.cover__title_text--17
							| Going to the bliss now
					a.button.button--border-white(href="#")
						| read story
// == END OF COVER 17 ==