// == START OF COVER 18 ==
.cover.cover--18.js-cover
	include ../headers/13
	.cover__pic_box--18
		img.cover__img--18(src="img/brandfie/cover.png")
	.container.cover__container--18
		.cover__text_box--18
			h2.cover__title--18
				span.cover__title_text--18
					| Get Your Brand's Selfie! 
					span.bluecolor #Brandfie
			.cover__description_box--18
				span.cover__description_text--18
					| One creative image to attract all the creatives
					| to your brand!
			.row
				.col-xs-12.col-md-6.cover__feature--18
					h3.cover__feature_title
						| What Brandfie is
					span.cover__feature_text
						| A very quick creative image to use for your promotions on social media.
				.col-xs-12.col-md-6.cover__feature--18
					h3.cover__feature_title
						| What Brandfie is NOT
					span.cover__feature_text
						| It is not "advertising", there is no brainstorming and presenting options or getting client feedback.
// == END OF COVER 18 ==
