// == START OF COVER 18 ==
.cover.cover--18.js-cover
	include ../headers/13
	.cover__pic_box--18
		img.cover__img--18(src="img/brandfie/1.jpg")
	.container.cover__container--18
		.cover__text_box--18
			h2.cover__title--18
				span.cover__title_text--18
					| Get Your Brand's Selfie!
					br
					| #Brandfie
			.cover__description_box--18
				span.cover__description_text--18
					| One creative image to attract all the creatives
					| to your brand!
			.row
				.col-xs-12.col-md-6.cover__feature--18
					h3.cover__feature_title
						| yours forever
					span.cover__feature_text
						| The enlightenment of your freedoms will listen oddly when you know that uniqueness is the lord.
				.col-xs-12.col-md-6.cover__feature--18
					h3.cover__feature_title
						| free specials
					span.cover__feature_text
						| Man happens when you develop control so purely that whatsoever you are doing is your life.
// == END OF COVER 18 ==
