// == START OF COVER 19 ==
.cover__slider.js-cover
	include ../headers/05
	.cover__slider__content_box.js-slider(data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "fade": true, "arrows": false, "dots": true, "dotsClass": "cover__slider__dots"}')
		.cover.cover--19.js-cover(style="background-image: url(img/bg/bg--black-headphones.jpg)")
			.container
				.cover__content_box.cover__content_box--19
					h2.cover__title.cover__title--19
						span.cover__title_text.cover__title_text--19
							| Breaking the limits&nbsp;
							br
							| starts from here
					.cover__description_box--19
						span.cover__description_text--19
							| Suddenly summoned to witness something great and horrendous, we still keep fighting not to reduce it to our own smallness.
					.cover__button_box--19
						a.cover__button--19.button.button--blue.button--blue-shadow.button--round.button--arrow-down.js-scroll-fullscreen(href="#")
		.cover.cover--19.js-cover(style="background-image: url(img/bg/bg--startup_guy.jpg)")
			.container
				.cover__content_box.cover__content_box--19
					h2.cover__title.cover__title--19
						span.cover__title_text.cover__title_text--19
							| Become a better man&nbsp;
							br
							| since now
					.cover__description_box--19
						span.cover__description_text--19
							| Who can emerge the affirmation and ascension of a body if he has the private thought of the lover.
					.cover__button_box--19
						a.cover__button--19.button.button--blue.button--blue-shadow.button--round.button--arrow-down.js-scroll-fullscreen(href="#")
// == END OF COVER 19 ==