// == START OF COVER 20 ==
.cover.cover--20.js-cover(style="background-image: url(img/bg/bg--unika.jpg)")
	include ../headers/15
	.container
		.cover__content_box.cover__content_box--20
			h2.cover__title.cover__title--20
				span.cover__title_text.cover__title_text--20
					| Unika brings&#8287;
					span.cover__title_text__accent_word
						| inspiration&#8287;and&#8287;
					br
					| releases the&#8287;
					span.cover__title_text__accent_word
						| potential
			a.button.button--white(href="#")
				| see more
// == END OF COVER 20 ==