// == START OF COVER 21 ==
.cover.cover--21.js-cover(style="background-image: url(img/bg/bg--mountains-white.jpg)")
	include ../headers/07
	.container
		.cover__content_box
			h2.cover__title.cover__title--21
				span.cover__title_text.cover__title_text--21
					| Breaking the limits
					br
					| starts from here
			.cover__button_box--21
				a.cover__button--21.button.button--blue.button--blue-shadow(href="#")
					| take a tour
			.cover__image_box--21
				img.cover__image(src="img/pictures/pic--ipad-pro-space-gold.png")
// == END OF COVER 21 ==