// == START OF VIDEO POPUP ==
.popup.popup--video.js-popup(data-popup-name="video")
	button.popup__close_btn.js-close-all-popups(title="close")
	iframe.popup__video_frame(src="https://www.youtube.com/embed/9ZfN87gSjvI" frameborder="0" allowfullscreen)
// == END OF VIDEO POPUP ==