/*
 * Custom CSS.
 */

.bluecolor {
	color: #1B8BF9;
	font-weight: 500;
}

.header__item--desktop{
	@media (#{$max_tablets}){
		display: inline-block;
	}
}
.header__item--mobile{
	@media (#{$min_tablets}){
		display: inline-block;
	}
}