// == START OF CONTENTS 01 ==
.contents.contents--01
	.container.contents__container--01
		.contents__image_box--01
			img.contents__image--01(src="img/pictures/pic--hovering-phones.png")
		.contents__content_box--01
			h3.contents__title--01
				| Modern technologies
			span.contents__text--01
				| A man's life is interesting primarily when he has totaly failed down. I well know it. For its a sign that he well tried to surpass himself..
			a.button.button--icon-apple--black.button--white.button--gray-shadow(href="#")
				| download
// == END OF CONTENTS 01 ==