// == START OF CONTENTS 02 ==
.contents.contents--02
	.container
		h3.contents__title--02
			| Get it now
		span.contents__text--02
			| Online page builder for freelancers, bloggers, writers and
			br
			| other creatives. Try it free now.
	.contents__buttons_box--02
		a.button--store(href="#")
			img.button__image(src="img/etc/button--app-store.svg")
		a.button--store(href="#")
			img.button__image(src="img/etc/button--google-play.svg")
	.contents__image_box--02
		img.contents__image--02(src="img/pictures/pic--front-phones.png")
// == END OF CONTENTS 02 ==