// == START OF CONTENTS 03 ==
.contents.contents--03.js-cover(style="background-image: url(img/bg/bg--wave.jpg)")
	.container.contents__container--03
		.contents__pic_box--03
			img.contents__img--03(src="img/pictures/pic--two-iphones.png")
		.contents__text_box--03
			h2.contents__title--03
				span.contents__title_text--03
					| Your time is unique
			.contents__description_box--03
				span.contents__description_text--03
					| We are always happy to help you with installing, optimising
					| and promoting your portfolio. All incoming features and
					| updates are also included in the pack.
			a.button.button--border-white.button--icon-apple(href="#")
				| download
			a.contents__link--03(href="#")
				| learn more
// == END OF CONTENTS 03 ==