// == START OF CONTENTS 04 ==
.contents.contents--04
	.container-fluid
		.contents__box--04
			.contents__item--04
				h3.contents__item_title--04
					| in app control
				span.contents__item_text.contents__item_text--04
					| Greatness is a property for which no man can receive credit too soon; it must be possessed long before it is acknowledged.
			.contents__item--04
				h3.contents__item_title--04
					| system monitoring
				span.contents__item_text.contents__item_text--04
					| Men love women who are brave for it means they can go the way with him in his pursuit of his good dreams and intentions.
			.contents__item--04
				h3.contents__item_title--04
					| weather check
				span.contents__item_text.contents__item_text--04
					| Paine suffered then, as now he suffers not so much because of what he wrote as from the misinterpretations of others.
		.contents__img_box--04
			img.contents__img--04(src="img/pictures/pic--front-single-mockup.png")

		.contents__box--04
			.contents__item--04
				h3.contents__item_title--04
					| free updates
				span.contents__item_text.contents__item_text--04
					| Maybe if we finally stopped trying to achieve movie standards of greatness, we'd be more happy with what we have now.
			.contents__item--04
				h3.contents__item_title--04
					| 100% secure
				span.contents__item_text.contents__item_text--04
					| The past is to be respected and acknowledged, but not worshipped; it is our future in which we will find our greatness.
			.contents__item--04
				h3.contents__item_title--04
					| customer support
				span.contents__item_text.contents__item_text--04
					| Your greatness is revealed not by the very lights that shine upon you, but by the light that shines within you and only you.
// == END OF CONTENTS 04 ==