// == START OF CONTENTS 05 ==
.contents.contents--05(style="background-image: url(img/bg/bg--black-bg-man.jpg)")
	.container
		.row
			.col-xs-12.col-lg-6
				h2.contents__title--05
					| Great details
				span.contents__text--05
					| There are times when the world is rearranging itself, and, well, at times like that, the right words can change the whole world.
// == END OF CONTENTS 05 ==