// == START OF TEAM 01 ==
.team.team--01
	h2.team__title
		| Our team
	.team__box.team__box--01.js-slider(data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "fade": false, "cssEase": "linear", "centerMode": true, "infinite": true, "focusOnSelect": true, "dots": true, "arrows": false, "responsive": [{"breakpoint": 900, "settings": {"slidesToShow": 1}}]}')
		.team__item.team__item--01
			.team__item_photo(style="background-image:url(img/pictures/pic--musk.jpg)")
			span.team__item_text
				| A concept is a brick. It can be used to build a courthouse of reason. Or it can be thrown through the window.
			span.team__item_name
				| Elon Musk
			span.team__item_job
				| CEO
		.team__item.team__item--01
			.team__item_photo(style="background-image:url(img/pictures/pic--tobias.jpg)")
			span.team__item_text
				| The truth is the best life is full of joy and full of great fun, know, you always can have one without the other.
			span.team__item_name
				| tobias van schneider
			span.team__item_job
				| Art director
		.team__item.team__item--01
			.team__item_photo(style="background-image:url(img/pictures/pic--doe.jpg)")
			span.team__item_text
				| Whatever you do, you need courage. Whatever course you decide, there is always someone to tell you are wrong.
			span.team__item_name
				| Dima Blover
			span.team__item_job
				| UI/UX designer
		.team__item.team__item--01
			.team__item_photo(style="background-image:url(img/pictures/pic--ive.png)")
			span.team__item_text
				| Who can acquire the booda-hood and suffering of a lotus if he has the ancient paradox of the sun never again.
			span.team__item_name
				| Jony Ive
			span.team__item_job
				| Sales
// == END OF TEAM 01 ==