// == START OF TEAM 02 ==
.team.team--02
	h2.team__title
		| Our team
	.team__box.team__box--02
		.team__item.team__item--02
			.team__item_photo(style="background-image:url(img/pictures/pic--musk.jpg)")
			span.team__item_name
				| Elon Musk
			span.team__item_job.team__item_job--02
				| CEO
			span.team__item_text.team__item_text--02
				| A playful form of issue is the result.
			ul.social
				li.social__item.social__item--equal_margin
					a.social__link.social__link--twitter.social__link--twitter--black(href="#")
				li.social__item.social__item--equal_margin
					a.social__link.social__link--facebook.social__link--facebook--black(href="#")
				li.social__item.social__item--equal_margin
					a.social__link.social__link--g_plus.social__link--g_plus--black(href="#")

		.team__item.team__item--02
			.team__item_photo(style="background-image:url(img/pictures/pic--tobias.jpg)")
			span.team__item_name
				| tobias van schneider
			span.team__item_job.team__item_job--02
				| Art director
			span.team__item_text.team__item_text--02
				| The aspect has issue, but not everyone meets it.
			ul.social
				li.social__item.social__item--equal_margin
					a.social__link.social__link--twitter.social__link--twitter--black(href="#")
				li.social__item.social__item--equal_margin
					a.social__link.social__link--tumblr.social__link--tumblr--black(href="#")
				li.social__item.social__item--equal_margin
					a.social__link.social__link--pinterest.social__link--pinterest--black(href="#")
				li.social__item.social__item--equal_margin
					a.social__link.social__link--linkedin.social__link--linkedin--black(href="#")

		.team__item.team__item--02
			.team__item_photo(style="background-image:url(img/pictures/pic--doe.jpg)")
			span.team__item_name
				| John Doe
			span.team__item_job.team__item_job--02
				| UI/UX designer
			span.team__item_text.team__item_text--02
				| Creators, aspects, and honorable doers will always protect them.
			ul.social
				li.social__item.social__item--equal_margin
					a.social__link.social__link--twitter.social__link--twitter--black(href="#")
				li.social__item.social__item--equal_margin
					a.social__link.social__link--facebook.social__link--facebook--black(href="#")

		.team__item.team__item--02
			.team__item_photo(style="background-image:url(img/pictures/pic--ive.png)")
			span.team__item_name
				| Jony Ive
			span.team__item_job.team__item_job--02
				| Web designer
			span.team__item_text.team__item_text--02
				| The cow has justice, but not everyone fears it.
			ul.social
				li.social__item.social__item--equal_margin
					a.social__link.social__link--twitter.social__link--twitter--black(href="#")
				li.social__item.social__item--equal_margin
					a.social__link.social__link--facebook.social__link--facebook--black(href="#")
				li.social__item.social__item--equal_margin
					a.social__link.social__link--linkedin.social__link--linkedin--black(href="#")
// == END OF TEAM 02 ==