// == START OF TEAM 03 ==
.team.team--03
	h2.team__title
		| Our team
	.team__arrows_box--03
		button.team__arrow.team__arrow--left.team__arrow--03.team__arrow--03--left.js-team-prev-arrow--03(type="button")
		button.team__arrow.team__arrow--right.team__arrow--03.team__arrow--03--right.js-team-next-arrow--03(type="button")
	.team__photos_box--03.js-slider.js-team-photo-slider(data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "fade": false, "cssEase": "linear", "arrows": false, "asNavFor": ".js-team-text-slider", "centerMode": true, "focusOnSelect": true, "responsive": [{"breakpoint": 500, "settings": {"slidesToShow": 3, "centerMode": false}}]}')
		.team__item_photo_box--03
			.team__item_photo.team__item_photo--03(style="background-image:url(img/pictures/pic--ive.png)")
		.team__item_photo_box--03
			.team__item_photo.team__item_photo--03(style="background-image:url(img/pictures/pic--doe.jpg)")
		.team__item_photo_box--03
			.team__item_photo.team__item_photo--03(style="background-image:url(img/pictures/pic--tobias.jpg)")
		.team__item_photo_box--03
			.team__item_photo.team__item_photo--03(style="background-image:url(img/pictures/pic--musk.jpg)")
	.team__box.team__box--03.js-slider.js-team-text-slider(data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "fade": true, "cssEase": "linear", "arrows": true, "prevArrow" : ".js-team-prev-arrow--03", "nextArrow": ".js-team-next-arrow--03", "asNavFor": ".js-team-photo-slider"}')
		.team__item.team__item--03
			span.team__item_text.team__item_text--03
				| “Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit anius."
			span.team__item_name
				| Jonathan Ive
			span.team__item_job
				| Senior Vice-President
		.team__item.team__item--03
			span.team__item_text.team__item_text--03
				| “Albus, alter plasmators aliquando dignus de emeritis, grandis nomen. Resistere sensim ducunt ad castus devirginato."
			span.team__item_name
				| John Doe
			span.team__item_job
				| CTO
		.team__item.team__item--03
			span.team__item_text.team__item_text--03
				| “Hercle, gluten superbus!, particula! Cum calcaria unda, omnes uriaes desiderium fortis, camerarius particulaes lupis."
			span.team__item_name
				| tobias van schneider
			span.team__item_job
				| Art director
		.team__item.team__item--03
			span.team__item_text.team__item_text--03
				| “Cur byssus experimentum? Cum bubo prarere, omnes mortemes aperto grandis, regius cottaes fanies colianus avore."
			span.team__item_name
				| Elon Musk
			span.team__item_job
				| Sales
// == END OF TEAM 03 ==