// == START OF COUNTERS 01 ==
.counter.counter--01
	.container-fluid
		.counter__item.counter__item--01
			.counter__title.counter__title--01
				| clients
			.counter__number
				| 432
		.counter__item.counter__item--01.counter__item--border
			.counter__title.counter__title--01
				| projects
			.counter__number
				| 53
		.counter__item.counter__item--01
			.counter__title.counter__title--01
				| years
			.counter__number
				| 13
// == END OF COUNTERS 01 ==