// == START OF COUNTER 02 ==
.counter.counter--02
	.container
		h2.counter__title--02
			| Our skills
		span.counter__description--02
			| And if you love those, those people will be your family because whatever you love will be with you.
	div
		.counter__skill_item
			.counter__skill_item_box
				span.counter__skill_item_percentage
					| 94%
				//set the data-chart-value attribute value (e.g.: 10)
				| <svg class="counter__skill_item_chart js-round-chart" data-chart-value="94" width="122px" height="122px" viewBox="0 0 122 122" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><circle id="" stroke="#1B8BF9" stroke-width="6" stroke-linecap="round" fill="none" cx="61" cy="61" r="58"></circle></svg>
			h3.counter__skill_item_title
				| css3 animations
		.counter__skill_item
			.counter__skill_item_box
				span.counter__skill_item_percentage
					| 81%
				//set the data-chart-value attribute value (e.g.: 10)
				| <svg class="counter__skill_item_chart js-round-chart" data-chart-value="81" width="122px" height="122px" viewBox="0 0 122 122" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><circle id="" stroke="#1B8BF9" stroke-width="6" stroke-linecap="round" fill="none" cx="61" cy="61" r="58"></circle></svg>
			h3.counter__skill_item_title
				| seo analytics
		.counter__skill_item
			.counter__skill_item_box
				span.counter__skill_item_percentage
					| 76%
				//set the data-chart-value attribute value (e.g.: 10)
				| <svg class="counter__skill_item_chart js-round-chart" data-chart-value="76" width="122px" height="122px" viewBox="0 0 122 122" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><circle id="" stroke="#1B8BF9" stroke-width="6" stroke-linecap="round" fill="none" cx="61" cy="61" r="58"></circle></svg>
			h3.counter__skill_item_title
				| web design
// == END OF COUNTER 02 ==