// == START OF COUNTERS 03 ==
.counter.counter--03
	.container-fluid
		.counter__item.counter__item--03
			.counter__title.counter__title--icon-bubbles.counter__title--03
				| clients
			.counter__number.counter__number--03
				| 461
		.counter__item.counter__item--03.counter__item--border
			.counter__title.counter__title--icon-case.counter__title--03
				| projects
			.counter__number.counter__number--03
				| 12
		.counter__item.counter__item--03
			.counter__title.counter__title--icon-box.counter__title--03
				| downloads
			.counter__number.counter__number--03
				| 1202
// == END OF COUNTERS 03 ==