.call_to_action__input_box--16{
	position: relative;

	max-width: 470px;

	padding-right: 30px;
	margin: auto;
}
.call_to_action__input--16{
	width: 100%;
}
.call_to_action__button--16{
	position: absolute;
	right: 0;
	top: 0;

	&:hover{
		background-color: $sky;
	}

	@media (#{$max_phones}){
		min-width: 120px;
	}
}