// == START OF WORKS 01 ==
.works.works--01
	.container
		.works__title_box
			.works__title
				| Our projects
			.works__text
				| Play with colors, animations and content. Enjoy our friendly in few minutes with Phoenix UI kit.
	.works__row.works__row--01
		a.works__item.works__item--01(href="#")
			.works__item_img.works__item_img--01(style="background-image: url(img/pictures/pic--case-1.jpg)")
			.works__item_text_box--01
				h3.works__item_title--01
					| Phoenix ui kit
				span.works__item_tags--01
					| Web-design, Front-end
		a.works__item.works__item--01(href="#")
			.works__item_img.works__item_img--01(style="background-image: url(img/pictures/pic--case-2.png)")
			.works__item_text_box--01
				h3.works__item_title--01
					| universe cd cover
				span.works__item_tags--01
					| Graphic design
		a.works__item.works__item--01(href="#")
			.works__item_img.works__item_img--01(style="background-image: url(img/pictures/pic--case-3.jpg)")
			.works__item_text_box--01
				h3.works__item_title--01
					| Brut template
				span.works__item_tags--01
					| Web-design, Front-end
		a.works__item.works__item--01(href="#")
			.works__item_img.works__item_img--01(style="background-image: url(img/pictures/pic--case-4.jpg)")
			.works__item_text_box--01
				h3.works__item_title--01
					| UI-market
				span.works__item_tags--01
					| Web-design, Front-end
	.works__row.works__row--01.state-hidden-works-row
		a.works__item.works__item--01(href="#")
			.works__item_img.works__item_img--01(style="background-image: url(img/pictures/pic--case-5.jpg)")
			.works__item_text_box--01
				h3.works__item_title--01
					| 404 page
				span.works__item_tags--01
					| Web-design
		a.works__item.works__item--01(href="#")
			.works__item_img.works__item_img--01(style="background-image: url(img/pictures/pic--case-6.png)")
			.works__item_text_box--01
				h3.works__item_title--01
					| Phoenix cover
				span.works__item_tags--01
					| Art Direction, Concept
	button.works__show_more_button--01.button.button--border-black.js-show-more-works
		| view more
// == END OF WORKS 01 ==