// == START OF WORKS 01 ==
.works.works--01
	.container(id="work")
		.works__title_box
			.works__title
				| Our projects
			.works__text
				| Some of our best works so far
	.works__row.works__row--01
		a.works__item.works__item--01(href="img/brandfie/works/1.jpg" data-lightbox="image-1")
			.works__item_img.works__item_img--01(style="background-image: url(img/brandfie/works/1.jpg)")
			.works__item_text_box--01
				h3.works__item_title--01
					| Syntax Podcst
				span.works__item_tags--01
					| Episode 4: JavaScript Tooling
		a.works__item.works__item--01(href="img/brandfie/works/2.jpg" data-lightbox="image-2")
			.works__item_img.works__item_img--01(style="background-image: url(img/brandfie/works/2.jpg)")
			.works__item_text_box--01
				h3.works__item_title--01
					| InHer Skills
				span.works__item_tags--01
					| E-Course Promotion
		a.works__item.works__item--01(href="img/brandfie/works/3.jpg" data-lightbox="image-3")
			.works__item_img.works__item_img--01(style="background-image: url(img/brandfie/works/3.jpg)")
			.works__item_text_box--01
				h3.works__item_title--01
					| WPTakeaway Newsletter
				span.works__item_tags--01
					| Promotion
		a.works__item.works__item--01(href="img/brandfie/works/4.jpg" data-lightbox="image-4")
			.works__item_img.works__item_img--01(style="background-image: url(img/brandfie/works/4.jpg)")
			.works__item_text_box--01
				h3.works__item_title--01
					| Syntax Podcast
				span.works__item_tags--01
					| Episode 7: Scott's Origin Story
	.works__row.works__row--01
		a.works__item.works__item--01(href="img/brandfie/works/5.jpg" data-lightbox="image-5")
			.works__item_img.works__item_img--01(style="background-image: url(img/brandfie/works/5.jpg)")
			.works__item_text_box--01
				h3.works__item_title--01
					| Syntax Podcast
				span.works__item_tags--01
					| Episode 5: Freelancing
		a.works__item.works__item--01(href="img/brandfie/works/6.jpg" data-lightbox="image-6")
			.works__item_img.works__item_img--01(style="background-image: url(img/brandfie/works/6.jpg)")
			.works__item_text_box--01
				h3.works__item_title--01
					| WPTakeaway Newsletter
				span.works__item_tags--01
					| Promotion
		a.works__item.works__item--01(href="img/brandfie/works/7.jpg" data-lightbox="image-7")
			.works__item_img.works__item_img--01(style="background-image: url(img/brandfie/works/7.jpg)")
			.works__item_text_box--01
				h3.works__item_title--01
					| Syntax Podcast
				span.works__item_tags--01
					| Episode 6: Accepting Money Online
		a.works__item.works__item--01(href="img/brandfie/works/8.jpg" data-lightbox="image-8")
			.works__item_img.works__item_img--01(style="background-image: url(img/brandfie/works/8.jpg)")
			.works__item_text_box--01
				h3.works__item_title--01
					| Insurance
				span.works__item_tags--01
					| Work in Progress
	//- button.works__show_more_button--01.button.button--border-black.js-show-more-works
	//- 	| view more
// == END OF WORKS 01 ==