// == START OF WORKS 02 ==
.works.works--02
	.works__title_box
		.works__title
			| Our best works
		ul.works__filter_tags
			// For filtering controls add
			li.works__filter_tags__item
				button.button.button--black.button--extra-small.js-filtering-button(type="button", data-filter="all")
					| Show all
			li.works__filter_tags__item
				button.button.button--gray.button--extra-small.js-filtering-button(type="button", data-filter="2")
					| development
			li.works__filter_tags__item
				button.button.button--gray.button--extra-small.js-filtering-button(type="button", data-filter="3")
					| illustration
			li.works__filter_tags__item
				button.button.button--gray.button--extra-small.js-filtering-button(type="button", data-filter="1")
					| design
		.works__row
			.filtr-container.works__container--02
				a.filtr-item.works__item.works__item--02(data-category="2", href="#")
					.works__item_img.works__item_img--02(style="background-image: url(img/pictures/pic--case-1.jpg)")
				a.filtr-item.works__item.works__item--02(data-category="1, 2", href="#")
					.works__item_img.works__item_img--02(style="background-image: url(img/pictures/pic--case-2.png)")
				a.filtr-item.works__item.works__item--02(data-category="2, 3", href="#")
					.works__item_img.works__item_img--02(style="background-image: url(img/pictures/pic--case-3.jpg)")
				a.filtr-item.works__item.works__item--02(data-category="1, 2", href="#")
					.works__item_img.works__item_img--02(style="background-image: url(img/pictures/pic--case-4.jpg)")
				a.filtr-item.works__item.works__item--02(data-category="2, 3", href="#")
					.works__item_img.works__item_img--02(style="background-image: url(img/pictures/pic--case-5.jpg)")
				a.filtr-item.works__item.works__item--02(data-category="1, 2", href="#")
					.works__item_img.works__item_img--02(style="background-image: url(img/pictures/pic--case-6.jpg)")
				a.filtr-item.works__item.works__item--02(data-category="1", href="#")
					.works__item_img.works__item_img--02(style="background-image: url(img/pictures/pic--case-7.jpg)")
// == END OF WORKS 02 ==