// == START OF WORKS 03 ==
.works.works--03
	.container
		.works__title_box
			.works__title
				| Gallery
			.works__text
				| Play with colors, animations and content. Enjoy your project in a few minutes with Phoenix UI kit.
	.works__slider.js-slider(data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "fade": false, "cssEase": "linear", "arrows": false, "centerMode": false, "focusOnSelect": true, "variableWidth": true, "autoplay": false, "responsive": [{"breakpoint": 1400, "settings": {"centerMode": true}}]}')
		//please keep the data-lightbox attribute value the same across all the items
		.works__item.works__item--03
			a.works__item__link(href="img/pictures/pic--case-13.jpg", data-lightbox="works")
				img.works__item_picture--03(src="img/pictures/pic--case-13.jpg")
		.works__item.works__item--03
			a.works__item__link(href="img/pictures/pic--case-14.jpg", data-lightbox="works")
				img.works__item_picture--03(src="img/pictures/pic--case-14.jpg")
		.works__item.works__item--03
			a.works__item__link(href="img/pictures/pic--case-15.jpg", data-lightbox="works")
				img.works__item_picture--03(src="img/pictures/pic--case-15.jpg")
		.works__item.works__item--03
			a.works__item__link(href="img/pictures/pic--case-13.jpg", data-lightbox="works")
				img.works__item_picture--03(src="img/pictures/pic--case-13.jpg")
		.works__item.works__item--03
			a.works__item__link(href="img/pictures/pic--case-14.jpg", data-lightbox="works")
				img.works__item_picture--03(src="img/pictures/pic--case-14.jpg")
		.works__item.works__item--03
			a.works__item__link(href="img/pictures/pic--case-15.jpg", data-lightbox="works")
				img.works__item_picture--03(src="img/pictures/pic--case-15.jpg")
// == END OF WORKS 03 ==