// == START OF WORKS 04 ==
.works.works--04
	.works__title_box
		.works__title
			| Portfolio
	.works__row
		//please keep the data-lightbox attribute value the same across all the items
		a.works__item.works__item--04.works__item--big-square--04(href="img/pictures/pic--case-9.jpg", data-lightbox="portfolio")
			.works__item_img.works__item_img--big-square--04.js-work-item(style="background-image: url(img/pictures/pic--case-9.jpg)")
		a.works__item.works__item--04.works__item--rect--04(href="img/pictures/pic--case-10.jpg", data-lightbox="portfolio")
			.works__item_img.works__item_img--rect--04.js-work-item(style="background-image: url(img/pictures/pic--case-10.jpg)")
		.works__box--04
			a.works__item.works__item--04.works__item--small-square--04(href="img/pictures/pic--case-11.jpg", data-lightbox="portfolio")
				.works__item_img.works__item_img--small-square--04.js-work-item(style="background-image: url(img/pictures/pic--case-11.jpg)")
			a.works__item.works__item--04.works__item--small-square--04(href="img/pictures/pic--case-12.jpg", data-lightbox="portfolio")
				.works__item_img.works__item_img--small-square--04.js-work-item(style="background-image: url(img/pictures/pic--case-12.jpg)")
// == END OF WORKS 04 ==